Repository scalacenter/bloop, pull requests merged in 2018-06, with the labels that each got.

#512 Sbt: Export custom configurations
  build-integrations/global/src/main/scala/bloop/build/integrations/IntegrationPlugin.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/test
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/lagom-compat/.sbtopts
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/lagom-compat/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/lagom-compat/hello-impl/src/test/resources/logback.xml
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/lagom-compat/project/build.properties
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/lagom-compat/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/lagom-compat/test
Labels: community build, enhancement, integrations

#521 Ensure that export of custom configuration works
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/build.sbt
Labels: enhancement, integrations, sbt

#523 Docs: Advanced sbt configuration
  website/content/docs/sbt.md
  website/content/faq/_index.md
Labels: docs, integrations, sbt

#524 Allow the project load of non-Scala projects
  backend/src/main/scala/bloop/ScalaInstance.scala
  build.sbt
  config/src/main/scala/bloop/config/Config.scala
  config/src/test/scala-2.12/bloop/config/JsonSpec.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/test/scala/bloop/engine/LoadProjectSpec.scala
  project/BuildPlugin.scala
Labels: enhancement, integrations, maven

#525 Upgrade nuprocess to 1.2.3
  project/Dependencies.scala
Labels: bug, build

#457 Support linking and running of Scala Native projects
  .drone.yml
  backend/src/main/scala/bloop/io/Paths.scala
  bridges/scala-native/src/main/scala/bloop/scalanative/NativeBridge.scala
  bridges/scala-native/src/test/scala/bloop/scalanative/ScalaNativeToolchainSpec.scala
  build-integrations/sbt-1.0/build.sbt
  build-integrations/sbt-1.0/project/Integrations.scala
  build.sbt
  config/src/main/scala-2.10/bloop/config/ConfigEncoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigDecoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigEncoders.scala
  config/src/main/scala/bloop/config/Config.scala
  config/src/test/scala-2.12/bloop/config/JsonSpec.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/cli/CliParsers.scala
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/cli/ExitStatus.scala
  frontend/src/main/scala/bloop/cli/OptimizerConfig.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/ScalaNativeToolchain.scala
  frontend/src/main/scala/bloop/exec/Forker.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-project/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-project/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-project/test
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/scala-js/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/scala-js/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/scala-js/test
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/scala-native/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/scala-native/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/scala-native/test
  project/BuildPlugin.scala
  project/Dependencies.scala
Labels: Scala Native, configuration format, enhancement, task / compile, task / run

#527 Run `updateClassifiers` when exporting the project
  build-integrations/global/plugins.sbt
  build.sbt
  config/src/main/scala-2.10/bloop/config/ConfigEncoders.scala
  config/src/main/scala-2.10/bloop/package.scala
  config/src/main/scala-2.12/bloop/config/ConfigDecoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigEncoderDecoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigEncoders.scala
  config/src/main/scala-2.12/bloop/package.scala
  config/src/main/scala/bloop/config/Config.scala
  config/src/test/scala-2.12/bloop/config/JsonSpec.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/test/scala/bloop/engine/LoadProjectSpec.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/sbt-bloop/src/main/scala-sbt-0.13/bloop/integrations/sbt/Compat.scala
  integrations/sbt-bloop/src/main/scala-sbt-1.0/bloop/integrations/sbt/Compat.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/Feedback.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/test
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-project/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/scala-js/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/scala-native/build.sbt
  project/BuildPlugin.scala
  project/Dependencies.scala
  project/build.sbt
Labels: configuration format, enhancement, integrations, sbt

#528 Export configurations of sbt meta builds automatically
  build-integrations/sbt-0.13/project/Integrations.scala
  integrations/sbt-bloop/src/main/scala-sbt-1.0/bloop/integrations/sbt/Compat.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/meta-builds/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/meta-builds/changes/set-sources.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/meta-builds/project/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/meta-builds/test
Labels: enhancement, integrations, sbt

#532 Add basic mill integration
  build.sbt
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  project/BuildPlugin.scala
  project/Dependencies.scala
Labels: community, integrations, mill

#538 Persist sbt metadata in project model
  .drone.yml
  build.sbt
  config/src/main/scala-2.10/bloop/config/ConfigEncoderDecoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigEncoderDecoders.scala
  config/src/main/scala/bloop/config/Config.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  integrations/sbt-bloop/src/main/scala-sbt-0.13/bloop/integrations/sbt/Compat.scala
  integrations/sbt-bloop/src/main/scala-sbt-0.13/bloop/integrations/sbt/DiscoveredSbtPlugins.scala
  integrations/sbt-bloop/src/main/scala-sbt-1.0/bloop/integrations/sbt/Compat.scala
  integrations/sbt-bloop/src/main/scala-sbt-1.0/bloop/integrations/sbt/DiscoveredSbtPlugins.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/changes/export-jars.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/test
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/meta-builds/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/meta-builds/changes/set-sources.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/meta-builds/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/meta-builds/test
  project/BuildPlugin.scala
  project/MavenPluginIntegration.scala
  project/build.sbt
  project/project/build.sbt
Labels: enhancement, integrations, sbt

#542 Upgrade bloop to bsp 1.0.0-M4
  .drone.yml
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/io/AbsolutePath.scala
  backend/src/main/scala/bloop/io/Paths.scala
  bridges/scalajs-0.6/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-0.6/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-1.0/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  build-integrations/sbt-1.0-2/.jvmopts
  build-integrations/sbt-1.0-2/.sbtopts
  build-integrations/sbt-1.0-2/build.sbt
  build-integrations/sbt-1.0-2/project/Integrations.scala
  build-integrations/sbt-1.0-2/project/build.properties
  build-integrations/sbt-1.0-2/project/project/BuildPlugin.scala
  build-integrations/sbt-1.0/build.sbt
  build-integrations/sbt-1.0/project/Integrations.scala
  build.sbt
  config/src/main/scala-2.10/bloop/config/ConfigEncoderDecoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigEncoderDecoders.scala
  config/src/main/scala/bloop/config/Config.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/engine/State.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/io/FileTracker.scala
  frontend/src/main/scala/bloop/logging/BspLogger.scala
  frontend/src/main/scala/bloop/reporter/BspReporter.scala
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/ScalaJsKeys.scala
  project/BuildPlugin.scala
  project/Dependencies.scala
Labels: build server, enhancement, integrations

#547 Release notes for v1.0.0-M11
  notes/v1.0.0-M11.md
Labels: community build, docs, release

#549 Publish `mill-bloop` when doing `releaseBloop`
  build.sbt
Labels: build, integrations, mill, release

#556 Fix issues around test report
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/testing/TestSuiteEvent.scala
  frontend/src/test/scala/bloop/testing/TestOptionsSpec.scala
Labels: bug, community, ergonomics, task / test

#541 Style improvements
  bridges/scala-native/src/test/scala/bloop/scalanative/ScalaNativeToolchainSpec.scala
  bridges/scalajs-0.6/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  bridges/scalajs-1.0/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/cli/validation/Validate.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/ScalaJsToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/ToolchainCompanion.scala
  frontend/src/main/scala/bloop/exec/Forker.scala
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/main/scala/bloop/testing/TestInternals.scala
  frontend/src/test/scala/bloop/exec/ForkerSpec.scala
  frontend/src/test/scala/bloop/nailgun/BasicNailgunSpec.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/ScalaJsKeys.scala
Labels: community, enhancement

#545 Link: Add ability to specify custom output path
  bridges/scala-native/src/main/scala/bloop/scalanative/NativeBridge.scala
  bridges/scalajs-0.6/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/JsBridge.scala
  config/src/main/scala/bloop/config/Config.scala
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/ScalaJsToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/ScalaNativeToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: community, configuration format, enhancement
