Repository scalacenter/bloop, pull requests merged in 2018-07, with the labels that each got.

#551 Add ability to set default main class
  config/src/main/scala-2.10/bloop/config/ConfigEncoderDecoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigEncoderDecoders.scala
  config/src/main/scala/bloop/config/Config.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/ToolchainCompanion.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  project/BuildPlugin.scala
Labels: community, configuration format, enhancement

#555 Add the possibility to disable color
  backend/src/main/scala/bloop/logging/BloopLogger.scala
  benchmarks/src/main/scala/bloop/logging/BloopLoggerBenchmark.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/cli/CliOptions.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/engine/InterpreterSpec.scala
  frontend/src/test/scala/bloop/logging/BloopLoggerSpec.scala
Labels: cli, community, enhancement, ergonomics

#577 Set the maven plugin to the Scala 2.10 version
  build.sbt
  project/BuildPlugin.scala
  website/content/docs/installation.md
Labels: bug, community, maven

#582 Add release notes for RC1 and use `-O` to mean optimize
  config/src/test/scala/bloop/config/JsonSpec.scala
  frontend/src/main/scala/bloop/cli/Commands.scala
  notes/v1.0.0-RC1.md
Labels: enhancement, release, task / test

#587 Upgrade to NuProcess 1.2.4
  project/Dependencies.scala
Labels: bug, upgrade

#590 Remove `--isolated` and add `--propagate` / `--include-dependencies`
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
Labels: cli, enhancement, task / test

#592 Add release notes for v1.0.0 and log plist service
  README.md
  frontend/src/main/scala/bloop/cli/CliOptions.scala
  frontend/src/main/scala/bloop/cli/CliParsers.scala
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/cli/CommonOptions.scala
  frontend/src/main/scala/bloop/util/CommandsDocGenerator.scala
  notes/v1.0.0.md
  project/ReleaseUtils.scala
  website/content/docs/commands-reference.md
Labels: release

#594 Fix link to ruben's github profile
  README.md
Labels: community, docs, enhancement

#595 Add -sbt-dir in the drone yaml file
  .drone.yml
  bin/add-coursier.sh
  bin/ci-clean-cache.sh
  bin/sbt-ci.sh
  project/BuildPlugin.scala
Labels: build, enhancement

#597 Fix grammar in the "Snappy" part of the homepage
  index.html
Labels: docs, enhancement
