Repository scalacenter/bloop, pull requests merged in 2018-05, with the labels that each got.

#449 Revamp the test and run fork process infrastructure
  .drone.yml
  build.sbt
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/exec/ForkProcess.scala
  frontend/src/main/scala/bloop/exec/Forker.scala
  frontend/src/main/scala/bloop/testing/TestInternals.scala
  frontend/src/main/scala/bloop/testing/TestServer.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/exec/ForkerSpec.scala
  frontend/src/test/scala/bloop/logging/RecordingLogger.scala
  frontend/src/test/scala/bloop/nailgun/BasicNailgunSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTest.scala
  frontend/src/test/scala/bloop/tasks/RunTasksSpec.scala
  frontend/src/test/scala/bloop/tasks/TestTaskTest.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  frontend/src/test/scala/bloop/testing/TestLoggingSpec.scala
  project/Dependencies.scala
Labels: blocked, enhancement, task / run, task / test

#461 Add source files to bloop config from sbt
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/StraySourceFile.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/test
Labels: bug, integrations

#462 Add compile order option to the bloop config
  config/src/main/scala-2.10/bloop/config/ConfigEncoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigDecoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigEncoders.scala
  config/src/main/scala/bloop/config/Config.scala
  config/src/test/scala-2.12/bloop/config/JsonSpec.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  website/static/bloop-schema.json
Labels: configuration format, enhancement, task / compile

#465 Upgrade directories version to match coursier's
  backend/src/main/scala/bloop/io/Paths.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/test
  project/Dependencies.scala
Labels: bug, install

#466 Add Ensime's config and cache files to .gitignore
  .gitignore
Labels: build

#470 Make some fixes before v1.0.0-M10 release
  config/src/main/scala-2.12/bloop/config/ConfigDecoders.scala
  config/src/main/scala-2.12/bloop/config/ConfigEncoders.scala
  config/src/main/scala/bloop/config/Config.scala
  notes/v1.0.0-M10.md
Labels: community build, release

#471 Make sure we always create source dirs in tests
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
Labels: hotfix

#473 Update Coursier to 1.1.0-M3 and add explicit Scalaz dependency
  backend/src/main/scala/bloop/DependencyResolution.scala
  bin/install.py
  build.sbt
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/testing/TestInternals.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/nailgun/BasicNailgunSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTest.scala
  project/BuildPlugin.scala
  project/Dependencies.scala
  project/ReleaseUtils.scala
Labels: bug, install

#474 Add lichess to our community build and optimize loading
  backend/src/main/scala/bloop/io/Timer.scala
  build-integrations/sbt-0.13-2/.jvmopts
  build-integrations/sbt-0.13-2/.sbtopts
  build-integrations/sbt-0.13-2/build.sbt
  build-integrations/sbt-0.13-2/project/Integrations.scala
  build-integrations/sbt-0.13-2/project/build.properties
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/engine/Build.scala
  frontend/src/main/scala/bloop/engine/Dag.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/test/scala/bloop/engine/LoadProjectSpec.scala
  frontend/src/test/scala/bloop/logging/RecordingLogger.scala
  project/BuildPlugin.scala
Labels: community build, enhancement

#484 Don't embed the number of watching dirs we expect
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
Labels: bug

#487 Kebabize arg names
  frontend/src/main/scala/bloop/cli/completion/Case.scala
Labels: cli, ergonomics

#488 Mention --coursier in developer documentation [DOCS]
  website/content/docs/developer-documentation.md
  website/content/docs/installation.md
Labels: docs

#489 Fix Maven plugin and add user docs
  integrations/maven-bloop/src/main/java/bloop/integrations/maven/BloopMojo.java
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  project/BuildPlugin.scala
  project/MavenPluginIntegration.scala
  website/content/docs/installation.md
Labels: docs, integrations, maven

#495 Update to 2.12.6
  project/BuildPlugin.scala
Labels: build, enhancement

#502 Add option to configure the analysis file location
  backend/src/main/scala/bloop/io/AbsolutePath.scala
  config/src/main/scala/bloop/config/Config.scala
  config/src/test/scala-2.12/bloop/config/JsonSpec.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/tasks/CompilationTaskTest.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  project/BuildPlugin.scala
  project/MavenPluginIntegration.scala
Labels: community, configuration format, feature

#509 Speed up compilation speed of `frontend` by 8x
  build.sbt
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/cli/CliParsers.scala
  project/Dependencies.scala
Labels: build, enhancement
