Repository scalacenter/bloop, pull requests merged in 2018-03, with the labels that each got.

#260 Remove in process run and test
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/exec/ForkProcess.scala
  frontend/src/main/scala/bloop/exec/JavaEnv.scala
  frontend/src/main/scala/bloop/exec/MultiplexedStreams.scala
  frontend/src/main/scala/bloop/exec/ProcessConfig.scala
  frontend/src/main/scala/bloop/testing/TestInternals.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/exec/ForkProcessSpec.scala
  frontend/src/test/scala/bloop/exec/MultiplexedStreamsSpec.scala
  frontend/src/test/scala/bloop/exec/ProcessConfigSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTest.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/ProjectHelpers.scala
  frontend/src/test/scala/bloop/tasks/RunTasksSpec.scala
  frontend/src/test/scala/bloop/tasks/TestLoggingSpec.scala
  frontend/src/test/scala/bloop/tasks/TestResourcesSpec.scala
  frontend/src/test/scala/bloop/tasks/TestTaskTest.scala
  integrations/core/src/main/scala/bloop/integrations/BloopConfig.scala
  integrations/maven-bloop/src/main/java/bloop/integrations/maven/BloopMojo.java
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: task:run, task:test

#288 Add command reference
  frontend/src/main/scala/bloop/cli/Commands.scala
  website/content/docs/commands-reference.md
Labels: docs

#305 Fix regression in parallel compilation
  bin/install.py
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
  project/ReleaseUtils.scala
Labels: bug, install, performance, task:compile

#308 Add bintray repository to `install.py`
  bin/install.py
Labels: bug, install

#299 Elaborate on the "Understanding bloop" page
  website/content/docs/bloop-basics.md
  website/content/docs/how-to-use-bloop.md
  website/content/docs/installation.md
  website/content/docs/integration-guide.md
  website/content/docs/understanding-bloop.md
Labels: docs

#311 Add Scala Code of Conduct
  CODE_OF_CONDUCT.md
Labels: enhancement, sanity

#317 Run the community build in every tag event
  bin/detect-community-build.sh
Labels: build, enhancement

#322 Fix SHA of installation script
  project/ReleaseUtils.scala
  project/build.sbt
Labels: install

#323 Upgrade to latest sbt
  project/build.properties
Labels: build

#321 Make install script compatible with Python2 and 3
  bin/install.py
  project/ReleaseUtils.scala
Labels: install

#325 Add missing `s` interpolator
  frontend/src/main/scala/bloop/Cli.scala
Labels: bug, cli

#328 Remove log4j
  backend/src/main/scala/bloop/logging/BloopLogger.scala
  build.sbt
  frontend/src/test/scala/bloop/logging/BloopLoggerSpec.scala
  frontend/src/test/scala/bloop/nailgun/BasicNailgunSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTest.scala
  project/Dependencies.scala
Labels: enhancement, prevention, sanity

#336 Fix versioned installation script
  bin/install.py
  project/ReleaseUtils.scala
Labels: bug, install

#346 Rename `installBloop` to `bloopInstall`
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  project/BuildPlugin.scala
  website/content/docs/getting-started-sbt.md
Labels: enhancement, ergonomics, integrations

#345 Redesign file watching and add client listeners
  .gitignore
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/logging/BloopLogger.scala
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/Server.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/cli/CommonOptions.scala
  frontend/src/main/scala/bloop/engine/ClientPool.scala
  frontend/src/main/scala/bloop/engine/ExecutionContext.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/State.scala
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/test/scala/bloop/logging/RecordingLogger.scala
  frontend/src/test/scala/bloop/nailgun/BasicNailgunSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTest.scala
Labels: bug, nailgun, task / watch

#348 Use different classes directory than sbt
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: enhancement, integrations, workflow

#349 Pretty print projects to be script friendly
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/test/scala/bloop/engine/InterpreterSpec.scala
  frontend/src/test/scala/bloop/nailgun/BasicNailgunSpec.scala
Labels: cli, enhancement, workflow

#347 Propagate error to avoid downstream execution
  frontend/src/main/scala/bloop/cli/ExitStatus.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
Labels: bug, task / compile, task / console, task / run, task / test

#351 Fix master by using sbt.IO
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: bug, build

#350 Clear screen before each watch iteration
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
Labels: cli, task / watch, workflow

#352 Fix clearing of screen in SourceWatcher + drone insanity fix
  .drone.yml
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
Labels: build, priority / high, sanity, task / watch

#353 Add autocompletion with Bash and zsh
  etc/_bloop
  etc/bash/bloop
  etc/zsh/_bloop
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/cli/BspProtocol.scala
  frontend/src/main/scala/bloop/cli/CliParsers.scala
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/cli/ReporterKind.scala
  frontend/src/main/scala/bloop/cli/completion/BashFormat.scala
  frontend/src/main/scala/bloop/cli/completion/Format.scala
  frontend/src/main/scala/bloop/cli/completion/Mode.scala
  frontend/src/main/scala/bloop/cli/completion/ZshFormat.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  project/ReleaseUtils.scala
Labels: cli, enhancement, ergonomics, feature, install, workflow

#358 Install the completions in the installation script
  bin/install.py
Labels: install, priority / high

#359 Homebrew: Copy completions from install script
  project/ReleaseUtils.scala
Labels: install

#360 Add documentation for command line completion
  website/content/docs/installation.md
Labels: docs, install

#357 Add the project to the classes dir path
  bin/detect-community-build.sh
  integrations/sbt-bloop/src/main/scala-sbt-0.13/bloop/integrations/sbt/Compat.scala
  integrations/sbt-bloop/src/main/scala-sbt-1.0/bloop/integrations/sbt/Compat.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  project/BuildPlugin.scala
Labels: bug, community build, integrations

#363 Update the build in every watch iteration
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/StateCache.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  project/BuildPlugin.scala
Labels: build server, nailgun, performance, task / compile

#362 Add one more core to the available processors
  frontend/src/main/scala/bloop/engine/ExecutionContext.scala
Labels: enhancement, performance, task / compile

#367 Tentative fix for `FileWatchingSpec`
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
Labels: priority / high, task / compile

#366 Fix maximum depth when loading projects
  backend/src/main/scala/bloop/io/Paths.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/engine/Build.scala
  frontend/src/main/scala/bloop/io/FileTracker.scala
Labels: bug, enhancement, performance, priority / high

#364 Rework the docs before the M7 release
  website/content/docs/bloop-basics.md
  website/content/docs/getting-started-maven.md
  website/content/docs/getting-started-sbt.md
  website/content/docs/how-to-use-bloop.md
  website/content/docs/installation.md
  website/content/faq/_index.md
Labels: docs

#369 Fix installation script for released versions
  bin/install.py
Labels: install

#374 Fetch latest version from maven-central
  website/content/docs/installation.md
Labels: docs

#376 Update installation.md
  website/content/docs/installation.md
Labels: docs

#381 Remove clean terminal before file watching
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
Labels: bug, ergonomics, task / watch

#216 Trigger Jenkins job in Drone CI
  .drone.yml
  .jvmopts
  bin/start-jenkins-job.sh
  bin/stream-jenkins-log.sh
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/logging/RecordingLogger.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTest.scala
  frontend/src/test/scala/bloop/tasks/ProjectHelpers.scala
  project/BuildPlugin.scala
Labels: build, windows

#382 Revert "Remove clean terminal before file watching"
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
Labels: bug, task / watch

#389 Ensure that file watching task exits
  frontend/src/main/scala/bloop/engine/ExecutionContext.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/StateCache.scala
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/main/scala/bloop/monix/FoldLeftAsyncConsumer.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
Labels: bug, task / compile, task / watch

#391 Add notes for 1.0.0-M8
  notes/v1.0.0-M8.md
Labels: docs

#394 Add flag to support source dependencies
  build.sbt
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: integrations

#396 Update v1.0.0-M8.md
  notes/v1.0.0-M8.md
Labels: docs

#398 Make the Windows CI work for more than one job
  .drone.yml
  bin/start-jenkins-job.sh
  bin/stream-jenkins-log.sh
Labels: build, windows

#397 Shorten generation logs in sbt
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: enhancement, ergonomics, integrations

#395 Propagate status and print correct next action
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/StateCache.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
Labels: bug, task / compile, task / watch

#399 Rename `--filter` to `--only` | `-o`
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/test/scala/bloop/testing/TestFilterSpec.scala
Labels: enhancement, ergonomics, task / test

#110 Exract `classpathOptions` in sbt-bloop
  backend/src/main/scala/bloop/Compiler.scala
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/ProjectHelpers.scala
  integrations/core/src/main/scala/bloop/integrations/BloopConfig.scala
  integrations/maven-bloop/src/main/java/bloop/integrations/maven/BloopMojo.java
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  notes/v1.0.0-M8.md
  project/BuildPlugin.scala
Labels: bug, community build, configuration format

#402 Disable spurious test
  bin/stream-jenkins-log.sh
  frontend/src/test/scala/bloop/nailgun/BasicNailgunSpec.scala
Labels: build server, nailgun

#401 Add more notes for M8
  notes/v1.0.0-M8.md
  website/content/docs/installation.md
Labels: docs

#406 Add batch of last minute improvements
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/test/scala/bloop/logging/RecordingLogger.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: cli, configuration format, enhancement

#409 Detect "compile->test" configurations in sbt
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  project/BuildPlugin.scala
Labels: community build, install, integrations

#411 Add improvements to sbt plugin and migrate to `.bloop`
  build-integrations/global/plugins.sbt
  build-integrations/global/src/main/scala/bloop/build/integrations/IntegrationPlugin.scala
  build-integrations/sbt-1.0/.sbtopts
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/cli/CliOptions.scala
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTest.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/ProjectHelpers.scala
  integrations/maven-bloop/src/main/java/bloop/integrations/maven/BloopMojo.java
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  project/BuildPlugin.scala
  website/content/docs/commands-reference.md
  website/content/docs/installation.md
  website/content/faq/_index.md
Labels: community build, configuration format, docs, enhancement, install, integrations

#410 Setup link on Gitter badge
  README.md
Labels: docs
