Repository scalacenter/bloop, pull requests merged in 2018-09, with the labels that each got.

#612 Support 'implementation' Gradle dependencies
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: community, enhancement, gradle, integrations, task / compile

#640 Add note about running the cli from the project directory.
  website/content/docs/installation.md
Labels: docs, enhancement

#635 Enable community build under the pipelined mode
  .drone.yml
  build-integrations/sbt-1.0-2/build.sbt
  build-integrations/sbt-1.0-2/project/Integrations.scala
  build-integrations/sbt-1.0/project/Integrations.scala
  frontend/src/main/scala/bloop/engine/tasks/Pipelined.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
Labels: community build

#639 Make compile watch clear screen before first run
  frontend/src/main/scala/bloop/engine/Interpreter.scala
Labels: community, enhancement

#643 Use fork join thread pool for default `scheduler`
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/engine/ExecutionContext.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/State.scala
  frontend/src/test/scala/bloop/engine/InterpreterSpec.scala
Labels: enhancement, performance, task / compile

#642 Unify implementation of normal and pipelined compilation
  .scalafmt.conf
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/util/CacheHashCode.scala
  bin/run-benchmarks.sh
  frontend/src/main/scala/bloop/Project.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/engine/Build.scala
  frontend/src/main/scala/bloop/engine/Dag.scala
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/engine/tasks/Pipelined.scala
  frontend/src/main/scala/bloop/engine/tasks/ScalaJsToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/ScalaNativeToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/ToolchainCompanion.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileExceptions.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileResult.scala
  frontend/src/test/scala/bloop/tasks/TestTaskTest.scala
Labels: enhancement, performance, task / compile, upgrade

#645 Add better feedback if configuration directory is missing
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/test/scala/bloop/nailgun/BasicNailgunSpec.scala
Labels: cli, ergonomics

#649 Enable pipelined community build
  .drone.yml
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/sbt/internal/inc/bloop/CompileMode.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopHighLevelCompiler.scala
  bin/detect-community-build.sh
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileResult.scala
  frontend/src/test/scala/bloop/tasks/CompilationTaskTest.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/TestTaskTest.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
Labels: build pipelining, enhancement, task / compile

#652 Print error if download fails in install.py
  bin/install.py
Labels: install, prevention

#651 Run pipelining benchmarks
  bin/run-benchmarks.sh
Labels: benchmarks, build pipelining, performance

#653 Speed up build loading and minimize its IO
  backend/src/main/scala/bloop/io/Paths.scala
  benchmarks/src/main/scala/bloop/HotBloopBenchmark.scala
  benchmarks/src/main/scala/bloop/ProjectBenchmark.scala
  bridges/scala-native/src/main/scala/bloop/scalanative/NativeBridge.scala
  bridges/scala-native/src/test/scala/bloop/scalanative/ScalaNativeToolchainSpec.scala
  bridges/scalajs-0.6/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-0.6/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-1.0/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  build.sbt
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/bsp/ProjectUris.scala
  frontend/src/main/scala/bloop/cli/completion/BashFormat.scala
  frontend/src/main/scala/bloop/cli/completion/Format.scala
  frontend/src/main/scala/bloop/cli/completion/ZshFormat.scala
  frontend/src/main/scala/bloop/data/Origin.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/Build.scala
  frontend/src/main/scala/bloop/engine/BuildLoader.scala
  frontend/src/main/scala/bloop/engine/Dag.scala
  frontend/src/main/scala/bloop/engine/ExecutionContext.scala
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/State.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/caches/StateCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/engine/tasks/ScalaJsToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/ScalaNativeToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileResult.scala
  frontend/src/main/scala/bloop/io/FileTracker.scala
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/main/scala/bloop/reporter/BspReporter.scala
  frontend/src/main/scala/bloop/util/ByteHasher.scala
  frontend/src/main/scala/bloop/util/TopologicalSort.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/engine/BuildLoaderSpec.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/engine/LoadProjectSpec.scala
  frontend/src/test/scala/bloop/io/FileTrackerSpec.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/TestTaskTest.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
  project/Dependencies.scala
Labels: benchmarks, ergonomics, performance

#655 Clean all projects by default
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/test/scala/bloop/tasks/CleanTaskSpec.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  website/content/docs/commands-reference.md
Labels: cli, docs, ergonomics

#657 [DOCS] add git clone instructions to 'Opening up our sbt build' section
  website/content/docs/developer-documentation.md
Labels: docs, enhancement

#659 Add support for local homebrew formulas
  bin/install.py
  build.sbt
  project/BuildPlugin.scala
  project/ReleaseUtils.scala
  website/content/docs/developer-documentation.md
Labels: build, enhancement

#656 Complete java future right away if sources are empty
  .drone.yml
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopHighLevelCompiler.scala
  bin/run-benchmarks.sh
  bin/set-up-dodo.sh
  build-integrations/build-twitter
  build-integrations/global/plugins.sbt
  build-integrations/sbt-0.13-3/.jvmopts
  build-integrations/sbt-0.13-3/.sbtopts
  build-integrations/sbt-0.13-3/build.sbt
  build-integrations/sbt-0.13-3/project/Integrations.scala
  build-integrations/sbt-0.13-3/project/build.properties
  build-integrations/sbt-1.0-3/.jvmopts
  build-integrations/sbt-1.0-3/.sbtopts
  build-integrations/sbt-1.0-3/build.sbt
  build-integrations/sbt-1.0-3/project/Integrations.scala
  build-integrations/sbt-1.0-3/project/build.properties
  build-integrations/sbt-1.0-3/project/project/BuildPlugin.scala
  build-integrations/sbt-1.0/build.sbt
  build-integrations/sbt-1.0/project/Integrations.scala
  build.sbt
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileExceptions.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  project/BuildPlugin.scala
  website/content/docs/developer-documentation.md
Labels: benchmarks, build pipelining, enhancement, performance, task / compile

#660 Improve the way we show contributors in the README
  .all-contributorsrc
  README.md
Labels: community, docs, enhancement
