Repository scalacenter/bloop, pull requests merged in 2018-12, with the labels that each got.

#747 Don't fail bloop if Java 11 installed in Mac OS
  bin/install.py
  project/ReleaseUtils.scala
Labels: bug, ergonomics, install

#758 Handle recursive dependencies gracefully
  .drone.yml
  backend/src/main/scala/bloop/ScalaInstance.scala
  backend/src/main/scala/bloop/io/Paths.scala
  bin/install.py
  build.sbt
  config/src/main/scala/bloop/config/Config.scala
  docs/src/main/scala/bloop/docs/Sonatype.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/cli/ExitStatus.scala
  frontend/src/main/scala/bloop/cli/validation/Validate.scala
  frontend/src/main/scala/bloop/engine/Build.scala
  frontend/src/main/scala/bloop/engine/Dag.scala
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/cli/validation/ValidateSuite.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/exec/ForkerSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunSpec.scala
  frontend/src/test/scala/bloop/tasks/CompileSpec.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  notes/v1.1.2.md
  project/BuildPlugin.scala
  project/build.properties
Labels: build server, enhancement, ergonomics

#764 Fix typo in docs
  docs/build-tools/sbt/export.md
Labels: docs, enhancement

#767 Report `noDiagnostics` if file doesn't exist
  frontend/src/main/scala/bloop/reporter/BspProjectReporter.scala
Labels: bug, build server, task / compile

#768 Updated mill version 0.2.6 -> 0.3.5
  build.sbt
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  project/Dependencies.scala
Labels: bug, integrations, mill

#771 Remove leading '%` to fix problem invoking bloop
  bin/install.py
Labels: bug, install, windows

#772 Compile, test and run several projects in one command
  .drone.yml
  bridges/scala-native/src/test/scala/bloop/scalanative/ScalaNativeToolchainSpec.scala
  bridges/scalajs-0.6/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  bridges/scalajs-1.0/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/engine/Dag.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileResult.scala
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/main/scala/bloop/reporter/BspProjectReporter.scala
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/tasks/CompileSpec.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/JsTestSpec.scala
  frontend/src/test/scala/bloop/tasks/JvmTestSpec.scala
  frontend/src/test/scala/bloop/tasks/RunSpec.scala
  frontend/src/test/scala/bloop/tasks/TestResourcesSpec.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  frontend/src/test/scala/bloop/testing/TestFilterSpec.scala
  frontend/src/test/scala/bloop/testing/TestOptionsSpec.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: build server, community build, enhancement, performance, task / compile

#749 Implement test autocompletion for bash/zsh/fish
  etc/bash/bloop
  etc/fish/bloop.fish
  etc/zsh/_bloop
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/test/scala/bloop/tasks/JsTestSpec.scala
  frontend/src/test/scala/bloop/tasks/JvmTestSpec.scala
Labels: cli, enhancement, ergonomics

#773 Implement compile and test cascading
  .drone.yml
  backend/src/test/scala/bloop/logging/RecordingLogger.scala
  build.sbt
  docs/cli-reference.md
  docs/usage.md
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/engine/Dag.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/util/CommandsDocGenerator.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/tasks/CleanSpec.scala
  frontend/src/test/scala/bloop/tasks/CompileSpec.scala
  frontend/src/test/scala/bloop/tasks/GenericTestSpec.scala
  frontend/src/test/scala/bloop/tasks/RunSpec.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  project/BuildPlugin.scala
Labels: build server, cli, feature, task / compile, task / test

#775 Add release notes for v1.2.0
  docs/build-tools/mill/export.md
  docs/usage.md
  frontend/src/main/scala/bloop/util/CommandsDocGenerator.scala
  notes/v1.2.0.md
Labels: docs, release
