Repository scalacenter/bloop, pull requests merged in 2018-11, with the labels that each got.

#710 Publish diagnostics for syntax errors and improve tests
  backend/src/main/scala/sbt/internal/inc/bloop/ZincInternals.scala
  backend/src/test/scala/bloop/logging/RecordingLogger.scala
  frontend/src/main/scala/bloop/bsp/ProjectUris.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/logging/BspServerLogger.scala
  frontend/src/test/resources/cross-test-build-0.6/build.sbt
  frontend/src/test/resources/cross-test-build-0.6/test-project/shared/src/main/scala/hello/App.scala
  frontend/src/test/resources/cross-test-build-0.6/test-project/shared/src/main/scala/hello/Hello.scala
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/bsp/ProjectUrisSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTestUtils.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  frontend/src/test/scala/com/martiansoftware/nailgun/BloopThreadLocalInputStream.scala
Labels: bug, build server, task / compile

#711 Return correct platform for BSP Scala targets
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
Labels: bug, build server

#717 Interpreter: Allow to run externally-defined main classes
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
Labels: bug, task / run

#725 Update schema docs for `sources`
  website/static/bloop-schema.json
Labels: docs, enhancement

#722 Migrate to bsp v2 partially
  .drone.yml
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/io/AbsolutePath.scala
  backend/src/main/scala/bloop/reporter/Reporter.scala
  backend/src/main/scala/sbt/internal/inc/bloop/BloopZincCompiler.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopHighLevelCompiler.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopIncremental.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopNameHashing.scala
  build.sbt
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileResult.scala
  frontend/src/main/scala/bloop/logging/BspServerLogger.scala
  frontend/src/main/scala/bloop/reporter/BspProjectReporter.scala
  frontend/src/main/scala/bloop/reporter/BspReporter.scala
  frontend/src/main/scala/bloop/reporter/LogReporter.scala
  frontend/src/main/scala/bloop/testing/TestServer.scala
  frontend/src/main/scala/bloop/testing/TestSuiteEvent.scala
  frontend/src/test/resources/cross-test-build-0.6/build.sbt
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/engine/InterpreterSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunSpec.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  project/BuildPlugin.scala
  project/Dependencies.scala
Labels: build server, enhancement, task / compile, upgrade

#727 Fix `urlparse` import in Python 3
  bin/install.py
Labels: bug, build server, install

#729 Re-publish all warnings on BSP server startup
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/logging/BspServerLogger.scala
  frontend/src/main/scala/bloop/reporter/BspProjectReporter.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/tasks/JsTestSpec.scala
  frontend/src/test/scala/bloop/tasks/JvmTestSpec.scala
Labels: bug, build server, enhancement

#720 Terminate processes gracefully
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/jsenv/NodeJsEnv.scala
  frontend/src/main/scala/bloop/exec/Forker.scala
Labels: community, enhancement, task / run

#731 Handle build load errors gracefully in the server
  frontend/src/main/scala/bloop/engine/Build.scala
  frontend/src/main/scala/bloop/engine/Dag.scala
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/engine/LoadProjectSpec.scala
  frontend/src/test/scala/bloop/tasks/CompileSpec.scala
Labels: enhancement, ergonomics

#730 Add resources to the configuration file
  bridges/scala-native/src/main/scala/bloop/scalanative/NativeBridge.scala
  bridges/scalajs-0.6/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/JsBridge.scala
  config/src/main/scala/bloop/config/Config.scala
  config/src/main/scala/bloop/config/util/ConfigUtil.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/exec/ForkerSpec.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/JsTestSpec.scala
  frontend/src/test/scala/bloop/tasks/JvmTestSpec.scala
  frontend/src/test/scala/bloop/tasks/TestResourcesSpec.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  project/BuildPlugin.scala
Labels: enhancement, ergonomics, task / run, task / test

#732 Create target path of `-h` ScalaTest test option
  config/src/main/scala/bloop/config/Config.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/test/resources/cross-test-build-0.6/build.sbt
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: bug, task / test

#721 Add fish tab completion capabilities
  bin/install.py
  etc/fish/bloop.fish
  frontend/src/main/scala/bloop/cli/CliParsers.scala
  frontend/src/main/scala/bloop/cli/completion/FishFormat.scala
  project/ReleaseUtils.scala
  website/content/docs/installation.md
Labels: cli, community, ergonomics

#742 Prove transitive resources used in aggregated projects
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/test/scala/bloop/tasks/RunSpec.scala
Labels: enhancement, prevention

#741 Set cwd to project's base directory
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/test/resources/cross-test-build-0.6/test-project/jvm/src/main/scala/hello/ShowCwd.scala
  frontend/src/test/scala/bloop/tasks/RunSpec.scala
Labels: bug, community, task / run

#713 Set jvm proxy from client environment variables
  .gitmodules
  bin/detect-community-build.sh
  build-integrations/sbt-0.13-2/project/Integrations.scala
  build-integrations/sbt-0.13-3/project/Integrations.scala
  build-integrations/sbt-0.13/project/Integrations.scala
  build-integrations/sbt-1.0-2/project/Integrations.scala
  build-integrations/sbt-1.0-3/project/Integrations.scala
  build-integrations/sbt-1.0/project/Integrations.scala
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/Server.scala
  frontend/src/main/scala/bloop/util/ProxySetup.scala
  project/BuildPlugin.scala
  website/content/faq/_index.md
Labels: bug, community, docs, ergonomics

#744 Correct socks uri parsing
  frontend/src/main/scala/bloop/util/ProxySetup.scala
Labels: community, enhancement

#740 Propagate main class in sbt plugin
  bridges/scalajs-0.6/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-0.6/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/JsBridge.scala
  frontend/src/main/scala/bloop/engine/tasks/LinkTask.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/main/scala/bloop/engine/tasks/toolchains/ScalaJsToolchain.scala
  frontend/src/test/resources/cross-test-build-0.6/build.sbt
  frontend/src/test/resources/cross-test-build-0.6/test-project/js/src/main/scala/hello/DefaultApp.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/tasks/JsTestSpec.scala
  frontend/src/test/scala/bloop/tasks/RunSpec.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: community, enhancement, task / run

#737 Improve compilation reporting to users
  backend/src/main/scala/bloop/reporter/Reporter.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopHighLevelCompiler.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/reporter/BspProjectReporter.scala
  frontend/src/main/scala/bloop/reporter/LogReporter.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  website/content/docs/installation.md
Labels: cli, enhancement, ergonomics, task / compile
