Repository scalacenter/bloop, pull requests merged in 2018-10, with the labels that each got.

#664 Apply system properties to all test framworks
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
Labels: bug, community, task / test

#663 Do better at notifying of missing git submodules
  project/build.sbt
Labels: build, enhancement

#661 Make scalac and javac independent under pipelining
  backend/src/main/scala/bloop/CompileMode.scala
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/CompilerOracle.scala
  backend/src/main/scala/bloop/JavaSignal.scala
  backend/src/main/scala/sbt/internal/inc/bloop/BloopZincCompiler.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopHighLevelCompiler.scala
  benchmarks/src/main/scala/bloop/HotBloopBenchmark.scala
  benchmarks/src/main/scala/bloop/ParallelUtestBenchmark.scala
  build-integrations/sbt-0.13/project/Integrations.scala
  build-integrations/sbt-1.0/project/Integrations.scala
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/Dag.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileBundle.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileResult.scala
  frontend/src/test/scala/bloop/engine/DagSpec.scala
  frontend/src/test/scala/bloop/tasks/CleanTaskSpec.scala
  frontend/src/test/scala/bloop/tasks/CompilationTaskTest.scala
  frontend/src/test/scala/bloop/tasks/IntegrationTestSuite.scala
  frontend/src/test/scala/bloop/tasks/TestTaskTest.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  project/BuildPlugin.scala
Labels: build pipelining, enhancement, performance, task / compile

#669 Update command reference using CommandsDocGenerator
  frontend/src/main/scala/bloop/util/CommandsDocGenerator.scala
  website/content/docs/commands-reference.md
  website/content/docs/developer-documentation.md
Labels: cli, docs

#666 Enable benchmarks for more projects
  bin/run-benchmarks.sh
Labels: benchmarks, performance

#676 Fix regression because of misuse of external lookup
  backend/src/main/scala/bloop/Compiler.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/test/scala/bloop/tasks/CompilationTaskTest.scala
Labels: bug, task / compile

#678 Return the scala binary version via bsp
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
Labels: bug, build server

#680 Use bsp 1.0.0 and implements its new methods
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/logging/BspClientLogger.scala
  frontend/src/main/scala/bloop/logging/BspServerLogger.scala
  frontend/src/main/scala/bloop/reporter/BspReporter.scala
  frontend/src/main/scala/bloop/testing/TestSuiteEvent.scala
  frontend/src/test/scala/bloop/ClasspathHashingTest.scala
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  project/Dependencies.scala
Labels: build server, task / test, upgrade

#681 Initialize internal exit status list after sourcecode
  frontend/src/main/scala/bloop/cli/ExitStatus.scala
  frontend/src/test/scala/bloop/tasks/CompilationTaskTest.scala
  frontend/src/test/scala/bloop/tasks/RunTasksSpec.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
Labels: bug, task / compile, task / run, task / test

#686 Don't error on trace message
  frontend/src/main/scala/bloop/logging/BspClientLogger.scala
Labels: build server, enhancement

#687 Upgrade to latest bsp version
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  project/Dependencies.scala
Labels: bug, build server, upgrade

#688 Upgrade to bsp 1.0.1-M3 to use status code
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/logging/BspServerLogger.scala
  frontend/src/main/scala/bloop/testing/TestSuiteEvent.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  project/Dependencies.scala
Labels: build server, enhancement, upgrade

#689 Don't fail in builds of single sbt plugins
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/sbt-plugin-build/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/sbt-plugin-build/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/sbt-plugin-build/project/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/sbt-plugin-build/test
Labels: bug, build, sbt

#690 Upgrade to newer version of zinc
  project/Dependencies.scala
Labels: task / compile, upgrade

#674 Debug logging in context
  .drone.yml
  backend/src/main/scala/bloop/DependencyResolution.scala
  backend/src/main/scala/bloop/ScalaInstance.scala
  backend/src/main/scala/bloop/io/Timer.scala
  backend/src/main/scala/bloop/logging/BloopLogger.scala
  backend/src/main/scala/bloop/logging/DebugFilter.scala
  backend/src/main/scala/bloop/logging/Logger.scala
  backend/src/main/scala/bloop/logging/ProcessLogger.scala
  backend/src/main/scala/bloop/logging/Slf4jAdapter.scala
  backend/src/test/scala/bloop/logging/RecordingLogger.scala
  benchmarks/src/main/scala/bloop/logging/BloopLoggerBenchmark.scala
  benchmarks/src/main/scala/bloop/logging/NoopLogger.scala
  bridges/scala-native/src/main/scala/bloop/scalanative/NativeBridge.scala
  bridges/scalajs-0.6/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/JsBridge.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/cli/CliOptions.scala
  frontend/src/main/scala/bloop/cli/CliParsers.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/BuildLoader.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/State.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompilationTask.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/ToolchainCompanion.scala
  frontend/src/main/scala/bloop/exec/Forker.scala
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/main/scala/bloop/logging/BspClientLogger.scala
  frontend/src/main/scala/bloop/logging/BspServerLogger.scala
  frontend/src/main/scala/bloop/logging/ScribeAdapter.scala
  frontend/src/main/scala/bloop/testing/TestInternals.scala
  frontend/src/main/scala/bloop/testing/TestServer.scala
  frontend/src/main/scala/bloop/testing/TestSuiteEvent.scala
  frontend/src/main/scala/bloop/util/CommandsDocGenerator.scala
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/engine/InterpreterSpec.scala
  frontend/src/test/scala/bloop/logging/BloopLoggerSpec.scala
  frontend/src/test/scala/bloop/logging/BufferedLogger.scala
  frontend/src/test/scala/bloop/logging/DebugFilterSpec.scala
  frontend/src/test/scala/bloop/logging/PublisherLogger.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTest.scala
  frontend/src/test/scala/bloop/tasks/CompilationTaskTest.scala
  project/BuildPlugin.scala
  project/DynVerUtils.scala
Labels: cli, community, enhancement, ergonomics
