Repository scalacenter/bloop, pull requests merged in 2018-08, with the labels that each got.

#600 Remove default dependency between test sources
  build-integrations/global/plugins.sbt
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/test
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/yay/src/test/scala/D.scala
Labels: community build, enhancement, integrations, sbt, task / compile

#609 Fail silently if the Java convention look up fails
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/syntax.scala
Labels: bug, community, gradle, integrations

#617 Fix homebrew formula regarding blp-server logs
  project/ReleaseUtils.scala
Labels: bug, install

#618 Fix permissions in Brew formula
  project/ReleaseUtils.scala
Labels: bug, install

#607 Add Tim to the list of maintainers
  README.md
Labels: docs

#613 Process scalac options in Gradle correctly
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: bug, community, gradle, integrations

#623 Watch changes in single files
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/test/scala/bloop/engine/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/logging/PublisherLogger.scala
  frontend/src/test/scala/bloop/tasks/TestUtil.scala
  project/Dependencies.scala
Labels: bug, task / watch

#625 Update Mill
  project/Dependencies.scala
  website/content/docs/installation.md
Labels: community, mill, upgrade

#610 Publish the gradle plugin for Scala 2.12
  .drone.yml
  build.sbt
Labels: bug, community, gradle, integrations

#608 Ignore non-Scala and non-Java project dependencies
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
Labels: bug, community, gradle, integrations

#631 Filter project deps with JavaPluginConvention in Gradle
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
Labels: bug, community, gradle

#630 Add test for only Gradle project depending on only Java project
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: community, gradle

#614 Add the main source set to the classpath of other project source sets
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/tasks/BloopInstallTask.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: bug, community, gradle, integrations
