Repository scalacenter/bloop, pull requests merged in 2019-09, with the labels that each got.

#1023 Close sockets after the BSP connection has been terminated
  launcher/src/main/scala/bloop/launcher/Launcher.scala
Labels: bug, build server, integrations

#1030 Fix typo
  docs/performance-guide.md
Labels: bug, docs

#1016 Improve BSP services performance
  frontend/src/main/scala/bloop/bsp/BloopLanguageClient.scala
Labels: build server, enhancement, performance

#1012 Improved performance of file manager
  backend/src/main/scala/bloop/BloopClassFileManager.scala
  backend/src/main/scala/bloop/CompileBackgroundTasks.scala
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/CompilerCache.scala
Labels: javac, performance

#998 Fix semantics of `isSameFile` in class file manager
  backend/src/main/scala/bloop/CompilerCache.scala
  backend/src/test/scala/bloop/CompilerCacheSpec.scala
Labels: bug, javac, task / compile

#944 Implement the Debug Adapter Protocol
  build.sbt
  docs/assets/DAP.xml
  docs/assets/dap-example-metals.png
  docs/assets/dap-sequence.png
  docs/debug-adapter.md
  docs/debugging-reference.md
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/dap/DebugExtensions.scala
  frontend/src/main/scala/bloop/dap/DebugServer.scala
  frontend/src/main/scala/bloop/dap/DebugSession.scala
  frontend/src/main/scala/bloop/dap/DebugSessionLogger.scala
  frontend/src/main/scala/bloop/dap/DebuggeeRunner.scala
  frontend/src/main/scala/bloop/dap/Synchronized.scala
  frontend/src/main/scala/bloop/engine/ExecutionContext.scala
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/State.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/RunMode.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/main/scala/bloop/exec/Forker.scala
  frontend/src/main/scala/bloop/exec/JavaEnv.scala
  frontend/src/main/scala/bloop/exec/JvmProcessForker.scala
  frontend/src/main/scala/bloop/io/ServerHandle.scala
  frontend/src/main/scala/bloop/testing/DiscoveredTestFrameworks.scala
  frontend/src/main/scala/bloop/testing/TestInternals.scala
  frontend/src/test/scala/bloop/ForkerSpec.scala
  frontend/src/test/scala/bloop/TestSchedulers.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/dap/DebugAdapterConnection.scala
  frontend/src/test/scala/bloop/dap/DebugAdapterProxy.scala
  frontend/src/test/scala/bloop/dap/DebugBspBaseSuite.scala
  frontend/src/test/scala/bloop/dap/DebugEvents.scala
  frontend/src/test/scala/bloop/dap/DebugProtocolSpec.scala
  frontend/src/test/scala/bloop/dap/DebugServerSpec.scala
  frontend/src/test/scala/bloop/dap/DebugTesEndpoints.scala
  frontend/src/test/scala/bloop/dap/DebugTestClient.scala
  frontend/src/test/scala/bloop/dap/DebugTestProtocol.scala
  frontend/src/test/scala/bloop/nailgun/NailgunSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunTestUtils.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
  project/Dependencies.scala
  project/build.sbt
  website/i18n/en.json
  website/sidebars.json
Labels: build server, feature, task / debug

#1025 Support running custom scala main class in BSP
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
Labels: build server, enhancement, task / run

#1035 Don't warn about main classes in non-compiled projects
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
Labels: enhancement, ergonomics, task / compile

#1036 Assort some fixes to the compilation engine
  backend/src/main/scala/bloop/BloopClassFileManager.scala
  backend/src/main/scala/bloop/BloopClasspathEntryLookup.scala
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/ScalaInstance.scala
  backend/src/main/scala/bloop/io/ClasspathHasher.scala
  backend/src/main/scala/bloop/io/ParallelOps.scala
  backend/src/main/scala/sbt/internal/inc/bloop/BloopZincCompiler.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopLookup.scala
  frontend/src/it/scala/bloop/CommunityBuild.scala
  frontend/src/main/scala/bloop/engine/Dag.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/LastSuccessfulResult.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileBundle.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileDefinitions.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGatekeeper.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileResult.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/ResultBundle.scala
  frontend/src/main/scala/bloop/io/SourceHasher.scala
  frontend/src/test/scala/bloop/ClasspathHasherSpec.scala
  frontend/src/test/scala/bloop/DagSpec.scala
  frontend/src/test/scala/bloop/DeduplicationSpec.scala
  frontend/src/test/scala/bloop/ScalaVersionsSpec.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/io/ClasspathHasherSpec.scala
  frontend/src/test/scala/bloop/io/SourceHasherSpec.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
  project/Dependencies.scala
Labels: bug, enhancement, task / compile

#1038 Ignore socket closed exception when debuggee exited
  frontend/src/main/scala/bloop/dap/DebugSession.scala
Labels: enhancement, task / debug

#1044 Add caching to recursive loop in `Dag.reduce`, fixes #1043.
  frontend/src/main/scala/bloop/engine/Dag.scala
Labels: bug, task / compile

#1037 Increase the debuggee startup timeout
  frontend/src/main/scala/bloop/dap/DebugSession.scala
  frontend/src/test/scala/bloop/dap/DebugServerSpec.scala
Labels: enhancement, task / debug
