Repository scalacenter/bloop, pull requests merged in 2019-10, with the labels that each got.

#1042 Add small fixes for bloogun
  bloopgun/src/main/scala/bloop/bloopgun/Bloopgun.scala
  bloopgun/src/main/scala/bloop/bloopgun/core/ServerStatus.scala
  bloopgun/src/main/scala/bloop/bloopgun/core/Shell.scala
  bloopgun/src/main/scala/bloop/bloopgun/util/Environment.scala
  buildpress/src/main/scala/buildpress/Buildpress.scala
  buildpress/src/main/scala/buildpress/Main.scala
  launcher/src/main/scala/bloop/launcher/Launcher.scala
  launcher/src/main/scala/bloop/launcher/bsp/BspBridge.scala
  launcher/src/main/scala/bloop/launcher/bsp/JsonRpcParser.scala
  launcher/src/main/scala/bloop/launcher/core/Installer.scala
  launcher/src/main/scala/bloop/launcher/core/ServerStatus.scala
  launcher/src/main/scala/bloop/launcher/core/Shell.scala
  launcher/src/test/scala/bloop/launcher/LauncherBaseSuite.scala
  launcher/src/test/scala/bloop/launcher/LauncherSpec.scala
Labels: bug, cli

#1047 Add fixes for GraalVM bloopgun in macOS
  bloopgun/src/main/scala/bloop/bloopgun/core/ServerStatus.scala
  bloopgun/src/main/scala/bloop/bloopgun/core/Shell.scala
Labels: bug, cli

#1052 Improve file watching corner cases
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/main/scala/bloop/util/monix/FoldLeftAsyncConsumer.scala
  frontend/src/main/scala/bloop/util/monix/WhileBusyDropEventsAndSignalOperator.scala
  frontend/src/test/scala/bloop/FileWatchingSpec.scala
Labels: bug, ergonomics, task / compile, task / watch

#1056 Query latest version from `public` Sonatype repository
  docs-gen/src/main/scala/bloop/docs/Sonatype.scala
Labels: bug, docs

#1048 Don't require scala for the ArchLinux package
  project/ReleaseUtils.scala
Labels: enhancement, install

#1055 Add dotty support back
  backend/src/main/scala/bloop/ScalaInstance.scala
  backend/src/main/scala/sbt/internal/inc/BloopComponentCompiler.scala
  frontend/src/test/scala/bloop/FileWatchingSpec.scala
  frontend/src/test/scala/bloop/ScalaVersionsSpec.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
Labels: enhancement, task / compile

#912 Improve pretty-printed test report
  frontend/src/main/scala/bloop/testing/TestSuiteEvent.scala
  frontend/src/main/scala/bloop/testing/TestUtils.scala
  frontend/src/test/scala/bloop/testing/LoggingEventHandlerSpec.scala
  frontend/src/test/scala/bloop/testing/TestPrinterSpec.scala
Labels: community, ergonomics, task / test

#1050 Fix ArchLinux package cache issues
  project/ReleaseUtils.scala
Labels: enhancement, install

#1064 Add jsoniter-scala codecs for parsing and serialization of configuration
  config/src/main/scala-2.11-12/bloop/config/ConfigCodecs.scala
  config/src/main/scala-2.11-12/bloop/config/JsoniterEncoderDecoders.scala
  config/src/test/scala/bloop/config/ConfigCodecsSpec.scala
  frontend/src/test/resources/compiler-plugin-whitelist/project/plugins.sbt
  frontend/src/test/resources/cross-test-build-0.6/project/plugins.sbt
  frontend/src/test/resources/cross-test-build-1.0/project/plugins.sbt
  frontend/src/test/resources/simple-build/project/plugins.sbt
  integrations/sbt-bloop/src/main/scala-bloop-build/bloop/integrations/sbt/ConfigReader.scala
  project/Dependencies.scala
  project/build.sbt
  project/project/build.sbt
Labels: configuration format, enhancement, integrations, performance

#1063 Add all necessary SemanticDB options
  .gitignore
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/test/scala/bloop/bsp/BspMetalsClientSpec.scala
Labels: bug, integrations
