Repository scalacenter/bloop, pull requests merged in 2019-12, with the labels that each got.

#1106 Increase the timeout during the launcher to 30s
  launcher/src/main/scala/bloop/launcher/bsp/BspBridge.scala
Labels: enhancement, ergonomics, launcher

#1069 Fix symlink
  notes/v1.3.0-RC1.md
Labels: docs, enhancement

#1075 Doc cleanup clean up previous result
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
Labels: docs, enhancement

#1111 Don't use blp-server from local installation in bloopgun and launcher.
  bloopgun/src/main/scala/bloop/bloopgun/Bloopgun.scala
  launcher/src/test/scala/bloop/launcher/LauncherSpec.scala
Labels: enhancement, launcher

#1112 Don't re-add duplicate resolution artifacts in sbt-bloop
  docs-gen/src/main/scala/bloop/docs/Sonatype.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: docs, integrations, sbt

#1113 Allow `bloopExportJarClassifiers` to be configured via environment.
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: feature, integrations, sbt

#1097 Resolve correct linker versions in non-JVM builds
  backend/src/main/scala/bloop/DependencyResolution.scala
  backend/src/main/scala/bloop/ScalaInstance.scala
  backend/src/main/scala/sbt/internal/inc/BloopComponentCompiler.scala
  frontend/src/main/scala/bloop/engine/caches/SemanticDBCache.scala
  frontend/src/main/scala/bloop/engine/tasks/toolchains/ScalaJsToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/toolchains/ScalaNativeToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/toolchains/ToolchainCompanion.scala
  frontend/src/main/scala/bloop/testing/TestInternals.scala
  frontend/src/test/scala/bloop/io/ClasspathHasherSpec.scala
  project/Dependencies.scala
Labels: Scala Native, Scala.js, feature, integrations

#1120 Respect --no-color flag
  frontend/src/main/scala/bloop/engine/Interpreter.scala
Labels: bug, cli, community

#1115 Don't evaluate `toString` when handling variables request
  frontend/src/main/scala/bloop/dap/DebugServer.scala
  frontend/src/test/scala/bloop/dap/DebugAdapterConnection.scala
  frontend/src/test/scala/bloop/dap/DebugAdapterProxy.scala
  frontend/src/test/scala/bloop/dap/DebugServerSpec.scala
  frontend/src/test/scala/bloop/dap/DebugTestEndpoints.scala
Labels: bug, task / debug

#1122 Fix spurious `ClassNotFoundException`s
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/exec/JvmProcessForker.scala
  frontend/src/test/scala/bloop/DeduplicationSpec.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/dap/DebugServerSpec.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
  frontend/src/test/scala/bloop/util/BuildUtil.scala
Labels: bug, task / compile

#1123 Disable shared sbt-bloop classes dirs when not offloading
  integrations/sbt-bloop/src/main/scala-sbt-0.13/bloop/integrations/sbt/Offloader.scala
  integrations/sbt-bloop/src/main/scala-sbt-1.0/bloop/integrations/sbt/Offloader.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: enhancement, integrations, sbt

#1118 Use MANIFEST jar to run commands that exceed OS limits
  frontend/src/main/scala/bloop/exec/JvmProcessForker.scala
  frontend/src/test/scala/bloop/ForkerSpec.scala
  shared/src/main/scala/bloop/logging/DebugFilter.scala
Labels: bug, task / run

#1125 Require collection field types in jsoniter codecs
  buildpress-config/src/main/scala/buildpress/config/Config.scala
  config/src/main/scala-2.11-13/bloop/config/ConfigCodecs.scala
  frontend/src/main/scala/bloop/data/WorkspaceSettings.scala
  project/Dependencies.scala
Labels: configuration format, enhancement

#1100 Finish up hydra compiler support
  .github/workflows/ci.yml
  backend/src/main/scala/bloop/ScalaInstance.scala
  backend/src/main/scala/sbt/internal/inc/BloopComponentCompiler.scala
  backend/src/main/scala/sbt/internal/inc/HydraSupport.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/BuildLoader.scala
  frontend/src/main/scala/bloop/logging/BspServerLogger.scala
  frontend/src/test/scala/bloop/BaseCompileSpec.scala
  frontend/src/test/scala/bloop/BuildLoaderSpec.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
  frontend/src/test/scala/bloop/HydraCompileSpec.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  shared/src/main/scala/bloop/io/Paths.scala
Labels: enhancement, feature, performance, task / compile

#1131 Quote the full path for bloop in the generated bat file
  bin/install.py
Labels: bug, install, windows
