Repository scalacenter/bloop, pull requests merged in 2019-08, with the labels that each got.

#1001 Implement `-Xfatal-warnings` manually
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/reporter/ObservedReporter.scala
  backend/src/main/scala/bloop/reporter/Reporter.scala
  backend/src/main/scala/bloop/reporter/ReporterAction.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopStamps.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileResult.scala
  frontend/src/main/scala/bloop/reporter/BspProjectReporter.scala
  frontend/src/main/scala/bloop/reporter/LogReporter.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
  frontend/src/test/scala/bloop/bsp/BspCompileSpec.scala
  frontend/src/test/scala/bloop/bsp/BspMetalsClientSpec.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
Labels: build server, feature, task / compile

#1004 Propagate origin id from BSP requests to loggers
  backend/src/main/scala/bloop/logging/BloopLogger.scala
  backend/src/main/scala/bloop/logging/ObservedLogger.scala
  backend/src/test/scala/bloop/logging/RecordingLogger.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/logging/BspClientLogger.scala
  frontend/src/main/scala/bloop/logging/BspServerLogger.scala
  frontend/src/main/scala/bloop/logging/NoopLogger.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
  frontend/src/test/scala/bloop/bsp/BspCompileSpec.scala
  frontend/src/test/scala/bloop/logging/BufferedLogger.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  shared/src/main/scala/bloop/logging/Logger.scala
Labels: build server, enhancement

#1005 Fix testing issues on JDK 11
  .drone.yml
  .jvmopts
  frontend/src/main/scala/bloop/testing/TestInternals.scala
  frontend/src/test/resources/scala-seed-project/build.sbt
  frontend/src/test/resources/scala-seed-project/project/Dependencies.scala
  frontend/src/test/resources/scala-seed-project/project/build.properties
  frontend/src/test/resources/scala-seed-project/project/plugins.sbt
  frontend/src/test/resources/scala-seed-project/src/main/scala/example/Hello.scala
  frontend/src/test/resources/scala-seed-project/src/test/scala/example/HelloSpec.scala
  frontend/src/test/scala/bloop/BuildPipeliningSpec.scala
  frontend/src/test/scala/bloop/RunSpec.scala
  frontend/src/test/scala/bloop/ScalaVersionsSpec.scala
  frontend/src/test/scala/bloop/TestSpec.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
  frontend/src/test/scala/bloop/testing/ProjectBaseSuite.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
  project/Dependencies.scala
Labels: bug, jdk, task / test

#1006 Guarantee we run JDK 11 on CI
  .drone.yml
Labels: jdk

#1014 Fix link to Installation guide
  docs/what-is-bloop.md
Labels: bug, docs
