Repository scalacenter/bloop, pull requests merged in 2019-04, with the labels that each got.

#837 Duplicate compilation if project inputs change
  backend/src/main/scala/bloop/CompilerOracle.scala
  build.sbt
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileBundle.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/main/scala/bloop/util/monix/BloopBufferTimedObservable.scala
  frontend/src/test/scala/bloop/DeduplicationSpec.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
  launcher/src/test/scala/bloop/launcher/LauncherBaseSuite.scala
Labels: build server, enhancement, task / compile

#840 Follow up to #839
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: bug, integrations, maven

#818 Include Gradle's transitive dependencies in classpath
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/BloopParameters.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/syntax.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/tasks/BloopInstallTask.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: community, gradle, integrations

#843 Handle projects with missing test frameworks better
  backend/src/test/scala/bloop/logging/RecordingLogger.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/main/scala/bloop/testing/TestSuiteEvent.scala
  frontend/src/main/scala/bloop/util/TimeFormat.scala
  frontend/src/test/scala/bloop/DeduplicationSpec.scala
  frontend/src/test/scala/bloop/TestSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunSpec.scala
Labels: enhancement, task / test

#845 Invalidate symbols with forked and local javac
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/CompilerCache.scala
  backend/src/main/scala/sbt/internal/inc/javac/BloopForkedJavaUtils.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
Labels: bug, build server, task / compile

#850 Update homebrew server log path
  docs/server.md
Labels: community, docs, enhancement

#847 Updated mill version 0.3.5 -> 0.3.6
  docs/build-tools/mill/export.md
  project/Dependencies.scala
Labels: gradle, integrations, upgrade

#849 Export source dependencies from Gradle builds
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: community, enhancement, gradle, integrations

#851 Encode UUIDs with Base 64
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/util/UUIDUtil.scala
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/test/scala/bloop/BloopLoggerSpec.scala
  frontend/src/test/scala/bloop/CliSpec.scala
  frontend/src/test/scala/bloop/bsp/BspClientTest.scala
Labels: community, enhancement, ergonomics

#854 Send out server BSP responses/notifications in order
  frontend/src/main/scala/bloop/bsp/BloopLanguageClient.scala
Labels: bug, build server

#856 Don't create and delete empty classes dirs
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopLookup.scala
  frontend/src/main/scala/bloop/engine/caches/LastSuccessfulResult.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
Labels: build server, enhancement, task / compile

#857 Change SCOOP env variable to avoid conflict
  bin/install.py
  project/ReleaseUtils.scala
Labels: bug, community, windows

#858 Cancel deduplication if ongoing compilation looks dead
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/logging/Logger.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileBundle.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/logging/BspServerLogger.scala
  frontend/src/main/scala/bloop/util/SystemProperties.scala
  frontend/src/test/scala/bloop/DeduplicationSpec.scala
Labels: build server, enhancement, sanity, task / compile

#860 Use generic classes dir for the pipelined traversal
  .drone.yml
  backend/src/main/scala/bloop/io/Paths.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/main/scala/bloop/io/SourceHasher.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
  frontend/src/test/scala/bloop/DeduplicationSpec.scala
  frontend/src/test/scala/bloop/IntegrationTestSuite.scala
Labels: bug, build pipelining, community build, task / compile

#861 Log to the user a deduplication is happening
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/test/scala/bloop/DeduplicationSpec.scala
Labels: build server, ergonomics, task / compile

#864 Synchronize CLI clients to the same build
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/test/scala/bloop/CliSpec.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
Labels: build server, cli, ergonomics, task / compile, task / run, task / test

#871 Update website and assort fixes
  backend/src/main/scala/bloop/tracing/BraveTracer.scala
  benchmarks/src/main/scala/sbt/HotSbtBenchmark.scala
  bin/run-benchmarks.sh
  build.sbt
  project/build.sbt
  website/blog/2019-04-25-Compiler-Isolation.md
  website/i18n/en.json
  website/package.json
  website/pages/en/index.js
  website/pages/en/versions.js
  website/siteConfig.js
  website/versioned_docs/version-1.2.0/build-tools/gradle.md
  website/versioned_docs/version-1.2.0/build-tools/maven.md
  website/versioned_docs/version-1.2.0/build-tools/mill.md
  website/versioned_docs/version-1.2.0/build-tools/overview.md
  website/versioned_docs/version-1.2.0/build-tools/sbt.md
  website/versioned_docs/version-1.2.0/cli-reference.md
  website/versioned_docs/version-1.2.0/configuration-format.md
  website/versioned_docs/version-1.2.0/ides/intellij.md
  website/versioned_docs/version-1.2.0/ides/metals.md
  website/versioned_docs/version-1.2.0/ides/overview.md
  website/versioned_docs/version-1.2.0/integration.md
  website/versioned_docs/version-1.2.0/launcher.md
  website/versioned_docs/version-1.2.0/server.md
  website/versioned_docs/version-1.2.0/usage.md
  website/versioned_docs/version-1.2.0/what-is-bloop.md
  website/versioned_sidebars/version-1.2.0-sidebars.json
  website/versions.json
  website/yarn.lock
Labels: build, docs, enhancement

#816 Enable source dependencies by default
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: integrations, sbt

#873 Export it configurations automatically from sbt
  build.sbt
  docs-gen/src/main/scala/bloop/Docs.scala
  docs-gen/src/main/scala/bloop/docs/ReleasesModifier.scala
  docs-gen/src/main/scala/bloop/docs/Sonatype.scala
  docs/build-tools/sbt.md
  docs/performance-reference.md
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/bar/src/custom-it/scala/BarIt.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/bar/src/test/scala/Bar.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/foo/src/it/scala/FooIt.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/foo/src/main/scala/Foo.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/test
  project/BuildPlugin.scala
  website/i18n/en.json
Labels: enhancement, integrations, sbt

#875 Do not include project jar dependencies in Gradle
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/tasks/ConfigureBloopInstallTask.scala
Labels: bug, gradle, integrations

#876 Scope javac options and scalac options in compile
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: bug, integrations, sbt

#878 Add a way to ignore annotation procesor and gradle 5.3.1 test suite
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: bug, gradle, integrations
