Repository scalacenter/bloop, pull requests merged in 2019-11, with the labels that each got.

#1071 Set Bloopgun to use deamons
  .github/workflows/ci.yml
  launcher/src/main/scala/bloop/launcher/bsp/BspBridge.scala
Labels: cli, enhancement

#1074 Delay handling the configurationDone request until debuggee attached
  frontend/src/main/scala/bloop/dap/DebugSession.scala
Labels: bug, task / debug

#1070 Fix spelling mistakes in documentation and code
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/CompilerCache.scala
  backend/src/main/scala/bloop/CompilerOracle.scala
  backend/src/main/scala/bloop/DependencyResolution.scala
  backend/src/main/scala/bloop/ScalaInstance.scala
  backend/src/main/scala/bloop/io/ClasspathHasher.scala
  backend/src/main/scala/bloop/reporter/Reporter.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopAnalysisCallback.scala
  benchmarks/src/main/scala/sbt/HotSbtBenchmark.scala
  bloopgun/src/main/scala/bloop/bloopgun/Bloopgun.scala
  bloopgun/src/main/scala/bloop/bloopgun/core/DependencyResolution.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-1.0/src/main/scala/org/scalajs/jsenv/nodejs/BloopComRun.scala
  build-integrations/build-twitter
  docs/build-tools/mill/export.md
  docs/contributing-guide.md
  docs/debugging-reference.md
  docs/launcher.md
  docs/performance-guide.md
  docs/server.md
  docs/tools/scoop/usage.md
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/engine/Build.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompilerPluginWhitelist.scala
  frontend/src/test/scala/bloop/CliSpec.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
  frontend/src/test/scala/bloop/DeduplicationSpec.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  launcher/src/main/scala/bloop/launcher/bsp/BspBridge.scala
  launcher/src/test/scala/bloop/launcher/LauncherBaseSuite.scala
  notes/v1.0.0-M10.md
  notes/v1.0.0-RC1.md
  notes/v1.1.0.md
  notes/v1.1.2.md
  notes/v1.2.0.md
  notes/v1.3.0.md
  website/pages/en/versions.js
  website/versioned_docs/version-1.2.0/build-tools/sbt.md
  website/versioned_docs/version-1.2.0/launcher.md
  website/versioned_docs/version-1.2.5/contributing-guide.md
  website/versioned_docs/version-1.3.0/contributing-guide.md
  website/versioned_docs/version-1.3.0/launcher.md
  website/versioned_docs/version-1.3.0/performance-guide.md
  website/versioned_docs/version-1.3.1/contributing-guide.md
  website/versioned_docs/version-1.3.1/launcher.md
  website/versioned_docs/version-1.3.2/launcher.md
Labels: docs, enhancement

#1013 Remove default scala for java-only projects
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileBundle.scala
  frontend/src/test/scala/bloop/LoadProjectSpec.scala
Labels: bug, build server, on hold

#1073 Detect JDI initial notification on Windows
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/jsenv/NodeJsHandler.scala
  frontend/src/main/scala/bloop/dap/DebugSession.scala
  frontend/src/main/scala/bloop/dap/DebugSessionLogger.scala
  frontend/src/main/scala/bloop/dap/DebuggeeRunner.scala
  frontend/src/main/scala/bloop/exec/Forker.scala
  frontend/src/test/scala/bloop/ForkerSpec.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/dap/DebugAdapterConnection.scala
  frontend/src/test/scala/bloop/dap/DebugAdapterProxy.scala
  frontend/src/test/scala/bloop/dap/DebugBspBaseSuite.scala
  frontend/src/test/scala/bloop/dap/DebugProtocolSpec.scala
  frontend/src/test/scala/bloop/dap/DebugServerSpec.scala
  frontend/src/test/scala/bloop/dap/DebugTestClient.scala
  frontend/src/test/scala/bloop/dap/DebugTestProtocol.scala
Labels: bug, task / debug, task / run

#1083 Use platform.config settings to compile Java code
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/CompilerCache.scala
  backend/src/main/scala/bloop/util/JavaRuntime.scala
  backend/src/main/scala/sbt/internal/inc/javac/BloopForkedJavaUtils.scala
  backend/src/test/scala/bloop/CompilerCacheSpec.scala
  frontend/src/it/scala/bloop/CommunityBuild.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/dap/DebuggeeRunner.scala
  frontend/src/main/scala/bloop/data/JdkConfig.scala
  frontend/src/main/scala/bloop/data/Platform.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/State.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/exec/JvmProcessForker.scala
  frontend/src/test/scala/bloop/ForkerSpec.scala
  frontend/src/test/scala/bloop/RunSpec.scala
  frontend/src/test/scala/bloop/nailgun/NailgunSpec.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
Labels: feature, javac, task / compile

#1085 Strip `-J` prefix of jvm arguments before forking
  frontend/src/main/scala/bloop/exec/JvmProcessForker.scala
Labels: bug, task / run, task / test

#1086 Fix class file invalidation issue when moving sources
  backend/src/main/scala/bloop/BloopClassFileManager.scala
  backend/src/main/scala/bloop/BloopClasspathEntryLookup.scala
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/io/ParallelOps.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileDependenciesData.scala
  frontend/src/main/scala/bloop/util/TopologicalSort.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
Labels: bug, task / compile

#1087 Implement breakpoint support for user Java/Scala sources
  .gitignore
  backend/src/main/java/bloop/scalasig/CustomAttribute.java
  frontend/src/main/scala/bloop/dap/DebugExtensions.scala
  frontend/src/main/scala/bloop/dap/DebugServer.scala
  frontend/src/main/scala/bloop/dap/DebugSession.scala
  frontend/src/main/scala/bloop/dap/DebuggeeRunner.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/test/scala/bloop/dap/DebugAdapterConnection.scala
  frontend/src/test/scala/bloop/dap/DebugAdapterProxy.scala
  frontend/src/test/scala/bloop/dap/DebugEvents.scala
  frontend/src/test/scala/bloop/dap/DebugProtocolSpec.scala
  frontend/src/test/scala/bloop/dap/DebugServerSpec.scala
  frontend/src/test/scala/bloop/dap/DebugTestClient.scala
  frontend/src/test/scala/bloop/dap/DebugTestEndpoints.scala
  frontend/src/test/scala/bloop/dap/DebugTestProtocol.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
  project/Dependencies.scala
Labels: feature, task / debug

#1090 Cache calls to `AbsolutePath.toBspUri`, fixes #1089.
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
Labels: build server, ergonomics, performance

#1102 Avoid classpath separator in classes output directory.
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/main/scala/bloop/io/Filenames.scala
Labels: bug, task / compile
