Repository scalacenter/bloop, pull requests merged in 2019-05, with the labels that each got.

#881 Revalidate classes files compiled by dependent projects
  backend/src/main/scala/bloop/CompileProducts.scala
  backend/src/main/scala/bloop/Compiler.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileDependenciesData.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
  website/siteConfig.js
Labels: bug, task / compile

#870 Add Java9+ reverse-compatible changes
  backend/src/main/scala/bloop/reporter/ReporterFormat.scala
  frontend/src/main/scala/bloop/cli/CommonOptions.scala
Labels: build, community, upgrade

#869 Implement buildTarget/scalaMainClasses
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
Labels: build server, community, enhancement

#884 Add contributing guide back
  build.sbt
  docs/contributing-guide.md
  website/i18n/en.json
  website/sidebars.json
  website/versioned_docs/version-1.2.5/contributing-guide.md
  website/versioned_sidebars/version-1.2.0-sidebars.json
  website/versioned_sidebars/version-1.2.5-sidebars.json
Labels: docs, enhancement

#883 Avoid duplication in `dependencies` section
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: community, enhancement, integrations, sbt

#885 Return config directory in API used in benchmarks
  benchmarks/src/main/scala/sbt/HotSbtBenchmark.scala
  bin/run-benchmarks.sh
  frontend/src/it/scala/bloop/CommunityBuild.scala
Labels: benchmarks, task / compile

#887 Fix resolution error in buildpress infrastructure
  .drone.yml
  bin/run-benchmarks.sh
  docs/contributing-guide.md
  website/versioned_docs/version-1.2.5/contributing-guide.md
Labels: build, enhancement

#890 Tune in benchmark parameters
  .drone.yml
  benchmarks/src/main/scala/bloop/HotBloopBenchmark.scala
  benchmarks/src/main/scala/sbt/HotSbtBenchmark.scala
  bin/run-benchmarks.sh
  bin/set-up-community-build-infra.sh
  buildpress/src/main/resources/bloop-community-build.buildpress
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: benchmarks, enhancement

#891 Add file watching improvements and robust classpath hashing
  .gitignore
  backend/src/main/scala/bloop/io/ClasspathHasher.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopStamps.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileBundle.scala
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/main/scala/bloop/util/monix/BloopBufferTimedObservable.scala
  frontend/src/main/scala/bloop/util/monix/WhileBusyDropEventsAndSignalOperator.scala
  frontend/src/test/scala/bloop/FileWatchingSpec.scala
  website/.DS_Store
Labels: bug, build server, task / compile, task / watch

#803 Add ArchLinux package generation
  .drone.yml
  bin/ci-setup-bloopoid-keys.sh
  build.sbt
  frontend/src/main/scala/bloop/util/monix/WhileBusyDropEventsAndSignalOperator.scala
  project/BuildPlugin.scala
  project/GitUtils.scala
  project/ReleaseUtils.scala
Labels: build, community, release

#893 Add Tomasz as a Bloop contributor
  .all-contributorsrc
  README.md
Labels: build, community

#888 Add source dependencies to maven plugin
  integrations/maven-bloop/src/main/java/bloop/integrations/maven/BloopMojo.java
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: enhancement, integrations, maven

#889 Compile on java9+
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
  project/Dependencies.scala
  project/build.sbt
Labels: build, enhancement, task / compile

#896 Fix case where waiting client is cancelled
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/Cli.scala
Labels: bug, cli

#897 Fix not found type errors during incremental compilation
  backend/src/main/scala/bloop/CompileProducts.scala
  backend/src/main/scala/bloop/Compiler.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileDependenciesData.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
Labels: bug, task / compile

#900 Add newer version of maven-invoker explicitely to fix windows issues
  project/BuildPlugin.scala
  project/Dependencies.scala
Labels: bug, maven, windows

#898 Add CLI lock timeout lock and be more flexible while locking
  frontend/src/main/scala/bloop/Cli.scala
Labels: cli, enhancement

#899 Implement buildTarget/scalaTestClasses
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
Labels: build server, feature

#901 Add support for standalone repo path in CLI args
  buildpress/src/main/scala/buildpress/Buildpress.scala
  buildpress/src/main/scala/buildpress/BuildpressError.scala
  buildpress/src/main/scala/buildpress/BuildpressParams.scala
  launcher/src/main/scala/bloop/launcher/core/Shell.scala
  project/BuildPlugin.scala
Labels: buildpress, cli, feature

#902 Update BSP version to 2.0.0-M4
  backend/src/main/scala/bloop/io/AbsolutePath.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
  project/Dependencies.scala
Labels: build server, upgrade

#872 Update mill docs to point to bloop in mill-contrib
  bin/run-benchmarks.sh
  docs/build-tools/mill/export.md
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
Labels: blocked, docs, upgrade

#911 Update contributing guide
  docs/contributing-guide.md
Labels: community, docs, enhancement

#910 Don't print warnings when autocompleting in zsh
  frontend/src/main/scala/bloop/engine/Interpreter.scala
Labels: bug, cli, ergonomics, task / test

#908 Display Java version and home in bloop about
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/test/scala/bloop/nailgun/NailgunSpec.scala
Labels: cli, community, ergonomics, feature

#913 Add Roman to the team
  .all-contributorsrc
  README.md
Labels: community, enhancement
