Repository scalacenter/bloop, pull requests merged in 2019-07, with the labels that each got.

#946 Add support for `buildTargets/resources` command
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/bsp/BspCompileSpec.scala
  frontend/src/test/scala/bloop/bsp/BspConnectionSpec.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
Labels: build server, community, enhancement

#905 Add build settings hashing to Buildpress
  backend/src/main/scala/bloop/io/RelativePath.scala
  build.sbt
  buildpress-config/src/main/scala/buildpress/config/Config.scala
  buildpress/src/main/scala/buildpress/BuildTools.scala
  buildpress/src/main/scala/buildpress/Buildpress.scala
  buildpress/src/main/scala/buildpress/BuildpressError.scala
  buildpress/src/main/scala/buildpress/BuildpressParams.scala
  buildpress/src/main/scala/buildpress/ClonedRepository.scala
  buildpress/src/main/scala/buildpress/Main.scala
  buildpress/src/main/scala/buildpress/RepositoryCache.scala
  buildpress/src/main/scala/buildpress/io/AbsolutePath.scala
  buildpress/src/main/scala/buildpress/io/BuildpressPaths.scala
  buildpress/src/main/scala/buildpress/io/SbtProjectHasher.scala
  buildpress/src/main/scala/buildpress/util/Traverse.scala
  frontend/src/it/scala/bloop/CommunityBuild.scala
  launcher/src/main/scala/bloop/launcher/Launcher.scala
  launcher/src/main/scala/bloop/launcher/bsp/BspBridge.scala
  launcher/src/main/scala/bloop/launcher/core/Shell.scala
  shared/src/main/scala/bloop/io/AbsolutePath.scala
  shared/src/main/scala/bloop/io/ByteHasher.scala
  shared/src/main/scala/bloop/io/Paths.scala
  shared/src/main/scala/bloop/io/RelativePath.scala
  shared/src/main/scala/bloop/logging/CompilationEvent.scala
  shared/src/main/scala/bloop/logging/DebugFilter.scala
  shared/src/main/scala/bloop/logging/Logger.scala
  shared/src/main/scala/bloop/reporter/Problem.scala
  shared/src/main/scala/bloop/reporter/ProblemPerPhase.scala
Labels: buildpress, community, feature, work in progress

#952 Change docs link
  project/build.sbt
Labels: bug, community, docs

#964 Enable option for BSP stable classes directories
  frontend/src/main/scala/bloop/bsp/BloopBspDefinitions.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/bsp/BspCompileSpec.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
Labels: build server, feature, integrations

#965 Split -encoding and its value into two separate scalac arguments
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: bug, gradle, integrations

#967 Export JVM platform options from Gradle project
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
  project/Dependencies.scala
Labels: enhancement, gradle, jdk

#975 Import Gradle test system properties to test framework config
  config/src/main/scala/bloop/config/Config.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: enhancement, gradle, integrations, task / test

#977 Import Gradle test jvm options and system properties to test platform
  config/src/main/scala/bloop/config/Config.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: enhancement, gradle, integrations

#979 Fix missing dependencies to files referenced directly
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: bug, gradle, integrations

#989 Fixes unnecessary dependency in sbt extractor
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/build.sbt
Labels: bug, integrations, sbt

#984 Move `out` directory to under `.bloop` in Gradle export
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
Labels: enhancement, gradle, integrations

#991 Identify Java-only projects inside Bloop
  backend/src/main/scala/bloop/ScalaInstance.scala
  backend/src/test/scala/bloop/ScalaInstanceSpec.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/test/scala/bloop/BuildPipeliningSpec.scala
Labels: build server, enhancement, integrations

#994 Add a section about $PATH when using an sdkmanager
  docs/server.md
Labels: docs, enhancement

#995 Delete both new and read-only paths for invalidated symbols
  backend/src/main/scala/bloop/Compiler.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
Labels: bug, build server, task / compile

#942 Unify build tool integrations with Metals
  .gitignore
  backend/src/main/scala/bloop/BloopComponentsLock.scala
  backend/src/main/scala/bloop/CompilerCache.scala
  backend/src/main/scala/bloop/DependencyResolution.scala
  backend/src/main/scala/sbt/internal/inc/ZincComponentManager.scala
  backend/src/main/scala/sbt/internal/inc/ZincLmUtil.scala
  config/src/main/scala/bloop/config/Config.scala
  frontend/src/it/scala/bloop/CommunityBuild.scala
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/bsp/BloopBspDefinitions.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/data/LoadedProject.scala
  frontend/src/main/scala/bloop/data/Origin.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/data/WorkspaceSettings.scala
  frontend/src/main/scala/bloop/engine/Build.scala
  frontend/src/main/scala/bloop/engine/BuildLoader.scala
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/State.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/main/scala/bloop/engine/caches/SemanticDBCache.scala
  frontend/src/main/scala/bloop/engine/caches/StateCache.scala
  frontend/src/test/scala/bloop/BuildLoaderSpec.scala
  frontend/src/test/scala/bloop/DagSpec.scala
  frontend/src/test/scala/bloop/RunSpec.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/bsp/BspMetalsClientSpec.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  shared/src/main/scala/bloop/io/AbsolutePath.scala
  shared/src/main/scala/bloop/io/Paths.scala
Labels: build server, enhancement, integrations

#993 Set proper compile order in projects imported from Gradle
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: enhancement, gradle, integrations
