Repository scalacenter/bloop, pull requests merged in 2019-06, with the labels that each got.

#909 Use Scala's execution context
  benchmarks/src/main/scala/bloop/HotBloopBenchmark.scala
  benchmarks/src/main/scala/sbt/HotSbtBenchmark.scala
  bin/run-benchmarks.sh
  build.sbt
  frontend/src/it/scala/bloop/CommunityBuild.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/main/scala/bloop/engine/ExecutionContext.scala
  project/BuildPlugin.scala
Labels: performance, task / compile

#917 Catch exceptions when computing the compile bundle
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
Labels: build server, enhancement, task / compile

#918 Add release notes for v1.3.0-RC1
  notes/v1.3.0-RC1.md
Labels: release

#925 Fix warning about maven being run in the interactive mode
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: ergonomics, integrations, maven

#919 Add failing test where source files are pulled in multiple times
  frontend/src/main/scala/bloop/io/SourceHasher.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
Labels: bug, community, task / compile

#927 Add Marek as a Bloop contributor
  .all-contributorsrc
  README.md
Labels: build, community

#931 Fix memory leak in listing directories
  backend/src/main/scala/bloop/io/ClasspathHasher.scala
  backend/src/main/scala/bloop/io/Paths.scala
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/main/scala/bloop/engine/caches/ResultsCache.scala
  frontend/src/test/scala/bloop/CompileSpec.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
  notes/v1.3.1.md
Labels: bug, sanity

#935 Add parallel test execution support
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
Labels: feature, performance, task / test

#939 Documents the location of the optional .jvmopts file on macOS
  docs/server.md
Labels: docs, enhancement

#941 Add debug information to the maven bloop plugin
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: enhancement, integrations, maven

#938 Fix link reference in docs
  docs/build-tools/sbt/export.md
Labels: bug, community, docs
