Repository scalacenter/bloop, pull requests merged in 2020-03, with the labels that each got.

#1187 Add missing `metals.` for Metals properties
  .jvmopts
Labels: build, upgrade

#1185 Include `jvmTestEnvironmentProvider` in build server capabilities
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/test/scala/bloop/bsp/BspCompileSpec.scala
  frontend/src/test/scala/bloop/bsp/BspConnectionSpec.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  project/Dependencies.scala
Labels: build server, enhancement, upgrade

#1196 Fallback to java home if it was not available on PATH
  bloopgun/src/main/scala/bloop/bloopgun/Bloopgun.scala
Labels: feature, launcher

#1198 Add missing scala-xml dependency in shaded launcher
  build.sbt
Labels: build, launcher

#1199 Fixes resource loading issue
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/test/resources/cross-test-build-scalajs-0.6/test-project/jvm/src/main/resources/application.conf
  frontend/src/test/resources/cross-test-build-scalajs-0.6/test-project/jvm/src/test/resources/application.conf
  frontend/src/test/resources/cross-test-build-scalajs-0.6/test-project/jvm/src/test/scala/hello/AppWithConflictingResources.scala
  frontend/src/test/scala/bloop/RunSpec.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
Labels: bug, cli, task / run, task / test

#1195 Allow regenerating bloop project data with external tool
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/main/scala/bloop/data/SemanticdbSettings.scala
  frontend/src/main/scala/bloop/data/WorkspaceSettings.scala
  frontend/src/main/scala/bloop/engine/BuildLoader.scala
  frontend/src/test/scala/bloop/BuildLoaderSpec.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/bsp/BspIntellijClientSpec.scala
  frontend/src/test/scala/bloop/bsp/BspMetalsClientSpec.scala
  notes/v1.3.0-RC1.md
Labels: feature, integrations

#1202 Don't match on hidden source files
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileResult.scala
  frontend/src/main/scala/bloop/io/SourceHasher.scala
  frontend/src/main/scala/bloop/io/SourceWatcher.scala
  frontend/src/test/scala/bloop/io/SourceHasherSpec.scala
Labels: bug, task / compile

#1206 Fix bugs with non-stable CLI classes directories
  backend/src/main/scala/bloop/CompileBackgroundTasks.scala
  backend/src/main/scala/bloop/Compiler.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
Labels: bug, task / run, task / test

#1208 Add sbt scripted test for hydra sbt integration
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/hydra-support/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/hydra-support/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/hydra-support/test
Labels: enhancement, task / compile

#1212 Add `tags` to Bloop configuration
  config/src/main/scala/bloop/config/Config.scala
  config/src/main/scala/bloop/config/Tag.scala
  docs/assets/bloop-schema.json
  frontend/src/it/scala/bloop/CommunityBuild.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/test/scala/bloop/DagSpec.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/cross-compile-test-configurations/build.sbt
Labels: build server, configuration format, integrations

#1213 Bump Hydra version for tests to 2.2.2
  frontend/src/test/scala/bloop/HydraCompileSpec.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/hydra-support/project/plugins.sbt
Labels: task / compile, upgrade

#1216 Use correct working directory in BSP `buildTarget/jvmTestEnvironment`
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
Labels: bug, build server, task / test

#1215 Report error when refreshProjectsCommand fails
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
Labels: build server, enhancement

#1203 Respect global configuration in `$HOME/.bloop/bloop.json`
  bloopgun/src/main/scala/bloop/bloopgun/Bloopgun.scala
  bloopgun/src/main/scala/bloop/bloopgun/BloopgunParams.scala
  bloopgun/src/main/scala/bloop/bloopgun/util/Environment.scala
  bloopgun/src/main/scala/bloop/bloopgun/util/GlobalSettings.scala
  build.sbt
  docs/server.md
  launcher/src/main/scala/bloop/launcher/Launcher.scala
  launcher/src/test/scala/bloop/launcher/GlobalSettingsSpec.scala
  website/i18n/en.json
Labels: feature, launcher

#1211 Hide fine-grained Zipkin traces behind system property
  backend/src/main/scala/bloop/BloopClassFileManager.scala
  backend/src/main/scala/bloop/Compiler.scala
  backend/src/main/scala/bloop/io/ClasspathHasher.scala
  backend/src/main/scala/bloop/tracing/BraveTracer.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopNameHashing.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileBundle.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompilerPluginWhitelist.scala
Labels: performance, task / compile

#1221 Update documentation for IntelliJ BSP integration.
  docs/build-tools/overview.md
  docs/ides/intellij.md
  docs/ides/overview.md
Labels: build server, docs, integrations

#1225 Don't parse `--help` from Bloopgun
  bloopgun/src/main/scala/bloop/bloopgun/Bloopgun.scala
  bloopgun/src/main/scala/bloop/bloopgun/BloopgunParams.scala
Labels: cli, nailgun
