Repository scalacenter/bloop, pull requests merged in 2020-07, with the labels that each got.

#1343 Recognise Gradle integration tests as test projects
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: bug, gradle, task / test

#1336 Add the forgotten usage in install/usage of installation guide step 2…
  website/pages/en/setup.js
Labels: docs, enhancement

#1337 Add main dependency to a test project for Maven Bloop plugin
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: bug, maven

#1345 Change use of `localhost` by `127.0.0.1`
  frontend/src/main/scala/bloop/dap/DebugSessionLogger.scala
Labels: enhancement, task / debug, task / run, task / test

#1346 Add `sourceDir` mojo parameter to maven plugin
  integrations/maven-bloop/src/main/java/bloop/integrations/maven/BloopMojo.java
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: community, enhancement, maven

#1349 Strip ANSI color escapes when colors are disabled
  backend/src/main/scala/bloop/logging/BloopLogger.scala
  frontend/src/test/scala/bloop/BloopLoggerSpec.scala
Labels: cli
