Repository scalacenter/bloop, pull requests merged in 2020-04, with the labels that each got.

#1214 Add buildTargets/jvmEnvironment endpoint
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  project/Dependencies.scala
Labels: build server, enhancement, upgrade

#1230 Report test projects without test frameworks
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/dap/DebuggeeRunner.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/test/resources/no-test-frameworks/build.sbt
  frontend/src/test/resources/no-test-frameworks/myProject/src/main/scala/Main.scala
  frontend/src/test/resources/no-test-frameworks/myProject/src/test/scala/Test.scala
  frontend/src/test/resources/no-test-frameworks/project/build.properties
  frontend/src/test/resources/no-test-frameworks/project/plugins.sbt
  frontend/src/test/resources/no-test-frameworks/project/project/build.properties
  frontend/src/test/scala/bloop/TestSpec.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
Labels: enhancement, ergonomics, task / test

#1231 Add additional system properties for customizing zipkin traces
  backend/src/main/scala/bloop/tracing/BraveTracer.scala
Labels: enhancement

#1227 Fix build export installation step
  website/i18n/en.json
  website/pages/en/setup.js
  website/siteConfig.js
Labels: docs, install

#1232 Make jvmTestEnvironment's classpath URI-formatted
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  project/Dependencies.scala
Labels: build server, task / test

#1236 Increase default stack size.
  bloopgun/src/main/scala/bloop/bloopgun/util/Environment.scala
Labels: build server, task / compile

#1238 Update various typos and metals docs
  docs/contributing-guide.md
  docs/debugging-reference.md
  docs/ides/metals.md
  docs/ides/overview.md
  docs/performance-guide.md
  docs/server.md
  website/sidebars.json
Labels: docs, enhancement

#1241 Change zipkin URL in docs
  docs/performance-guide.md
Labels: docs, enhancement

#1244 Support runtime classpath for JVM projects
  config/src/main/scala-2.10/bloop/config/ConfigCodecs.scala
  config/src/main/scala-2.11-13/bloop/config/ConfigCodecs.scala
  config/src/main/scala/bloop/config/Config.scala
  docs/assets/bloop-schema.json
  frontend/src/it/scala/bloop/CommunityBuild.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/data/Platform.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/tasks/LinkTask.scala
  frontend/src/main/scala/bloop/engine/tasks/Tasks.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileDependenciesData.scala
  frontend/src/test/scala/bloop/BaseCompileSpec.scala
  frontend/src/test/scala/bloop/ConsoleSpec.scala
  frontend/src/test/scala/bloop/DagSpec.scala
  frontend/src/test/scala/bloop/ForkerSpec.scala
  frontend/src/test/scala/bloop/RunSpec.scala
  frontend/src/test/scala/bloop/TestSpec.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: configuration format, feature, task / compile, task / console, task / run, task / test

#1245 Fixed providing jvm options in DAP
  frontend/src/main/scala/bloop/dap/DebuggeeRunner.scala
  frontend/src/test/scala/bloop/dap/DebugServerSpec.scala
Labels: bug, task / debug

#1222 Add dotty support to gradle plugin
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/BloopParameters.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: feature, gradle, integrations

#1248 Swap `classpath` and `resources` arguments
  config/src/main/scala-2.11-13/bloop/config/ConfigCodecs.scala
Labels: bug, configuration format, task / run

#1250 Use runtime classpaths in Gradle
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: enhancement, gradle, integrations

#1254 Register Scala generated class files before compiling Java
  backend/src/main/scala/sbt/internal/inc/bloop/internal/BloopAnalysisCallback.scala
  backend/src/main/scala/sbt/internal/inc/bloop/internal/ConcurrentAnalysisCallback.scala
  frontend/src/test/scala/bloop/BaseCompileSpec.scala
Labels: bug, task / compile

#1253 Make sure we use all the settings that already exist in the project
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/test/scala/bloop/bsp/BspMetalsClientSpec.scala
Labels: Scala 3, enhancement, task / compile

#1252 Make `bloop about` and `bloop help` always succeed
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/cli/Validate.scala
  frontend/src/main/scala/bloop/engine/Feedback.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/main/scala/bloop/engine/caches/StateCache.scala
  frontend/src/main/scala/bloop/util/Environment.scala
  shared/src/main/scala/bloop/io/AbsolutePath.scala
Labels: bug, cli

#1246 Use `coursier install bloop` in installation methods
  .github/workflows/ci.yml
  bloopgun/src/main/scala/bloop/bloopgun/core/ServerStatus.scala
  build.sbt
  etc/bloop-coursier.json
  launcher/src/main/scala/bloop/launcher/Launcher.scala
  launcher/src/main/scala/bloop/launcher/core/Installer.scala
  launcher/src/test/scala/bloop/launcher/LauncherBaseSuite.scala
  launcher/src/test/scala/bloop/launcher/LauncherSpec.scala
  project/BuildPlugin.scala
  project/ReleaseUtils.scala
Labels: docs, enhancement, release

#1258 Support links in path to javac
  backend/src/main/scala/bloop/CompilerCache.scala
  shared/src/main/scala/bloop/io/AbsolutePath.scala
Labels: javac, task / compile

#1261 Force source generation for cached 'sbt bloopGenerate'
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
Labels: bug, sbt

#1234 Add Scala.js 1.0 support
  bridges/scalajs-0.6/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/JsBridge.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/jsenv/JsDomNodeJsEnv.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/jsenv/NodeJsEnv.scala
  bridges/scalajs-1.0/src/main/scala/bloop/scalajs/jsenv/NodeJsHandler.scala
  bridges/scalajs-1.0/src/main/scala/org/scalajs/jsenv/nodejs/BloopComRun.scala
  bridges/scalajs-1.0/src/test/scala/bloop/scalajs/ScalaJsToolchainSpec.scala
  build.sbt
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/engine/tasks/LinkTask.scala
  frontend/src/main/scala/bloop/engine/tasks/TestTask.scala
  frontend/src/main/scala/bloop/engine/tasks/toolchains/ScalaJsToolchain.scala
  frontend/src/main/scala/bloop/engine/tasks/toolchains/ToolchainCompanion.scala
  frontend/src/test/resources/cross-test-build-scalajs-1.0/build.sbt
  frontend/src/test/resources/cross-test-build-scalajs-1.0/project/plugins.sbt
  project/Dependencies.scala
Labels: Scala.js, upgrade

#1266 Don't consider CLI classes directory an orphan directory
  backend/src/main/scala/bloop/io/ParallelOps.scala
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/bsp/BspServer.scala
  frontend/src/main/scala/bloop/data/ClientInfo.scala
  frontend/src/main/scala/bloop/engine/State.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompilerPluginWhitelist.scala
Labels: bug, task / compile
