Repository scalacenter/bloop, pull requests merged in 2020-09, with the labels that each got.

#1364 Use forked test agent
  frontend/src/main/scala/bloop/testing/TestInternals.scala
  project/Dependencies.scala
Labels: task / test

#1365 Add release notes for Bloop v1.4.4
  notes/v1.4.4.md
Labels: release

#1368 Select last `user.dir` when inferring cwd
  frontend/src/main/scala/bloop/data/Project.scala
Labels: task / run, task / test

#1370 Support for Java Modules
  integrations/maven-bloop/src/main/java/bloop/integrations/maven/BloopMojo.java
  integrations/maven-bloop/src/main/java/scala_maven/ExtendedScalaContinuousCompileMojo.java
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: community, enhancement, maven

#1369 Handle issues in Gradle artifact resolution
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/tasks/BloopInstallTask.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: enhancement, gradle

#1374 Print logs in case of bsp connection issues
  launcher/src/main/scala/bloop/launcher/bsp/BspBridge.scala
Labels: bug, launcher

#1379 Handle Gradle jvm args and mainClass
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/syntax.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: bug, gradle
