Repository scalacenter/bloop, pull requests merged in 2020-01, with the labels that each got.

#1137 Update minimum Gradle version to 4.3 and some fixes
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/BloopParameters.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/BloopPlugin.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/tasks/BloopInstallTask.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/tasks/ConfigureBloopInstallTask.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
  project/Dependencies.scala
  project/GradleIntegration.scala
Labels: bug, enhancement, gradle, integrations

#1145 Silence error from _arguments:comparguments:325
  etc/zsh/_bloop
Labels: bug, cli, community

#1156 Create parents of invalidated symbolic links
  backend/src/main/scala/bloop/BloopClassFileManager.scala
  frontend/src/test/scala/bloop/BaseCompileSpec.scala
Labels: bug, task / compile

#1152 Pass arguments in to ammonite
  docs/cli-reference.md
  frontend/src/main/scala/bloop/Cli.scala
  frontend/src/main/scala/bloop/cli/Commands.scala
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/test/scala/bloop/ConsoleSpec.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
Labels: docs, enhancement, task / console

#1157 Report better errors if project loading fails
  backend/src/main/scala/bloop/ScalaInstance.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/test/scala/bloop/LoadProjectSpec.scala
  frontend/src/test/scala/bloop/testing/BaseSuite.scala
  frontend/src/test/scala/bloop/testing/BloopHelpers.scala
Labels: build server, enhancement

#1159 Fix an issue with non existing compileIncremental key
  .gitignore
  integrations/sbt-bloop/src/main/scala-sbt-0.13/bloop/integrations/sbt/Offloader.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/no-compile-incremental/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/no-compile-incremental/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/no-compile-incremental/project/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/no-compile-incremental/test
Labels: bug, integrations, sbt

#1160 Make working directory configurable for bloopgun-cli.
  bloopgun/src/main/scala/bloop/bloopgun/Bloopgun.scala
Labels: cli, enhancement

#1161 URL-encode file paths for manifest jars.
  frontend/src/main/scala/bloop/exec/JvmProcessForker.scala
Labels: bug, task / run
