Repository scalacenter/bloop, pull requests merged in 2020-02, with the labels that each got.

#1170 Replace plus sign `+` with minus `-` in version number.
  build.sbt
Labels: build, enhancement

#1166 Add BSP endpoint to query jvm test environment
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  project/Dependencies.scala
Labels: build server, feature

#1171 Use `dynverSeparator` as recommended in sbt-dynver readme
  build.sbt
  project/build.sbt
Labels: bug, build

#1172 Add munit framework to default frameworks
  config/src/main/scala/bloop/config/Config.scala
Labels: feature, task / test

#1173 Fix error checking blacklisted versions
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompilerPluginWhitelist.scala
Labels: performance, task / compile

#1177 Add bloop-sbt-already-installed property for Metals 0.8.0+ versions
  .jvmopts
Labels: build, upgrade

#1176 Add new "sourcesGlobs" field to Bloop JSON configuration.
  config/src/main/scala-2.10/bloop/config/ConfigCodecs.scala
  config/src/main/scala/bloop/config/Config.scala
  frontend/src/it/scala/bloop/CommunityBuild.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/data/Project.scala
  frontend/src/main/scala/bloop/data/SourcesGlobs.scala
  frontend/src/main/scala/bloop/io/SourceHasher.scala
  frontend/src/test/scala/bloop/DagSpec.scala
  frontend/src/test/scala/bloop/SourcesGlobsCompileSpec.scala
  frontend/src/test/scala/bloop/bsp/BspProtocolSpec.scala
  frontend/src/test/scala/bloop/io/SourcesGlobsSpec.scala
  frontend/src/test/scala/bloop/util/TestProject.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
  integrations/mill-bloop/src/main/scala/bloop/integrations/mill/MillBloop.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  shared/src/main/scala/bloop/io/RelativePath.scala
Labels: feature, integrations, task / compile

#1175 Use right working directory to run app or tests from sbt
  frontend/src/test/scala/bloop/RunSpec.scala
  integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/working-dir/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/working-dir/changes/build.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/working-dir/project/plugins.sbt
  integrations/sbt-bloop/src/sbt-test/sbt-bloop/working-dir/test
Labels: feature, task / run, task / test
