Repository scalacenter/bloop, pull requests merged in 2020-06, with the labels that each got.

#1300 Fixes resolution errors with gradle-bloop
  build.sbt
  project/Dependencies.scala
Labels: bug, gradle, has workaround

#1303 Update Maven Bloop Scala version to 2.12
  build.sbt
Labels: bug, maven

#1302 Add Scala Native environment setup guide to contributing guide
  docs/contributing-guide.md
Labels: Scala Native, docs

#1307 Keep `compiledState` in `Interpreter.compileAnd`
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/test/scala/bloop/TestSpec.scala
Labels: bug, cli

#1299 Port bloop-config to Scala.js
  .github/workflows/ci.yml
  bloopgun/src/main/scala/bloop/bloopgun/util/GlobalSettings.scala
  build.sbt
  buildpress-config/src/main/scala/buildpress/config/Config.scala
  config/.js/src/main/scala/bloop/config/NodeFS.scala
  config/.js/src/main/scala/bloop/config/NodePath.scala
  config/.js/src/main/scala/bloop/config/PlatformFiles.scala
  config/.js/src/test/scala/bloop/config/TestPlatform.scala
  config/.jvm/src/main/scala/bloop/config/PlatformFiles.scala
  config/.jvm/src/test/scala/bloop/config/TestPlatform.scala
  config/src/main/scala-2.11-13/bloop/config/ConfigCodecs.scala
  config/src/main/scala/bloop/config/Config.scala
  config/src/main/scala/bloop/config/package.scala
  config/src/test/scala/bloop/config/ConfigCodecsSpec.scala
  docs/contributing-guide.md
  frontend/src/main/scala/bloop/data/WorkspaceSettings.scala
  project/Dependencies.scala
  project/build.sbt
  project/project/build.sbt
Labels: Scala.js, configuration format, enhancement

#1317 Fix bloopInstall in Maven when dirs don't exist
  integrations/maven-bloop/src/main/java/bloop/integrations/maven/BloopMojo.java
  integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala
Labels: community, enhancement, maven

#1316 Workaround Windows publishing issue
  .github/workflows/ci.yml
  bin/sbt-ci-release.bat
Labels: build, windows

#1313 Improve gradle dependency detection
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: bug, feature, gradle

#1318 Bump Zinc version
  notes/v1.4.2.md
  project/Dependencies.scala
Labels: task / compile, upgrade

#1321 Workaround releasing issue
  build.sbt
Labels: build, release

#1323 Fix Mill version variable to support replacement
  docs/build-tools/mill.md
Labels: bug, docs, mill

#1328 Ensure we don't hash directory when using globs
  frontend/src/main/scala/bloop/io/SourceHasher.scala
  frontend/src/test/scala/bloop/io/SourcesGlobsSpec.scala
Labels: bug, task / compile

#1193 Use Project#getPath instead of #getName
  integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: community, discussion, enhancement, gradle
