Repository scalacenter/bloop, pull requests merged in 2020-05, with the labels that each got.

#1262 Add workpace settings for Zipkin traces
  backend/src/main/scala/bloop/tracing/BraveTracer.scala
  backend/src/main/scala/bloop/tracing/TraceProperties.scala
  frontend/src/it/scala/bloop/CommunityBuild.scala
  frontend/src/main/scala/bloop/Bloop.scala
  frontend/src/main/scala/bloop/bsp/BloopBspDefinitions.scala
  frontend/src/main/scala/bloop/bsp/BloopBspServices.scala
  frontend/src/main/scala/bloop/data/TraceSettings.scala
  frontend/src/main/scala/bloop/data/WorkspaceSettings.scala
  frontend/src/main/scala/bloop/engine/Build.scala
  frontend/src/main/scala/bloop/engine/caches/StateCache.scala
  frontend/src/main/scala/bloop/engine/tasks/CompileTask.scala
  frontend/src/test/scala/bloop/BuildLoaderSpec.scala
  frontend/src/test/scala/bloop/TracerSpec.scala
  frontend/src/test/scala/bloop/bsp/BspIntellijClientSpec.scala
  frontend/src/test/scala/bloop/io/ClasspathHasherSpec.scala
  frontend/src/test/scala/bloop/util/TestUtil.scala
  integrations/gradle-bloop/src/test/scala/bloop/integrations/gradle/ConfigGenerationSuite.scala
Labels: enhancement, tracing

#1271 Fix typo in debugTracing property
  backend/src/main/scala/bloop/tracing/TraceProperties.scala
Labels: bug, tracing

#1270 Add release notes for v1.4.0
  docs/server.md
  frontend/src/main/scala/bloop/engine/tasks/compilation/CompileGraph.scala
  frontend/src/test/scala/bloop/bsp/BspBaseSuite.scala
  frontend/src/test/scala/bloop/bsp/BspCompileSpec.scala
  frontend/src/test/scala/bloop/dap/DebugProtocolSpec.scala
  notes/v1.4.0.md
Labels: docs, install, release

#1269 Support globs in file watching
  frontend/src/main/scala/bloop/engine/Interpreter.scala
  frontend/src/test/scala/bloop/FileWatchingSpec.scala
Labels: bug, task / watch

#1282 Invoke done on sbt test runners
  frontend/src/main/scala/bloop/testing/TestServer.scala
Labels: enhancement, task / test

#1284 Fix ArchLinux package for v1.4+
  project/ReleaseUtils.scala
Labels: bug, release

#1285 Fix local brew auto-completions installation
  bin/install.py
  etc/bash-completions
  etc/fish-completions
  etc/zsh-completions
  project/BuildPlugin.scala
  project/ReleaseUtils.scala
Labels: community, enhancement, install
